{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
            {% for row in form %}
                {{ form_row(row) }}
            {% endfor %}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
