{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h2>My Details</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <nav class="secondary">
                                <a href="">Change these details</a>
                                <a href="{{ path('app.auth.logout') }}">Logout</a>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

{% endblock %}
