{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row halves">
        <div class="col">
            <h2>My Details</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>

            </table>
            <hr>
            <a class="btn" href="">Change these details</a>
            <a class="btn btn-secondary" href="{{ path('app.auth.logout') }}">Logout</a>
        </div>
        <div class="col">
            <h2>My Games</h2>
            {% embed 'games/partials/_games.html.twig' with {user: user} %}{% endembed %}
        </div>
    </div>
{% endblock %}
