@use "sass:color";
@use "../base/palette";
@use "../base/variables";
@use 'sass:math';

@mixin buttonize($primaryColor, $hoverColor, $gemBorderWidth, $textColor, $fontFamily: 'Crimson Text')
{

    box-shadow: 0 0 0.5rem color.adjust(palette.$ink, $alpha: -0.25), 0 0 0.25rem color.scale(palette.$ink, $alpha: -25%);
    position: relative;
    z-index: 1;
    color: $textColor;
    padding: 0.5rem 1rem;
    text-shadow: 0 -1px 0 color.adjust(palette.$gold, $lightness: -40%);
    background-color: color.adjust($primaryColor, $lightness: -15%);
    transition: background-color 250ms ease-in-out;
    font-family: $fontFamily, sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: math.div(variables.$base-spacing, 2);
    border: math.div($gemBorderWidth, 2) solid transparent;
    border-image: palette.$goldFX;
    border-image-slice: 33%;


    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        z-index: -1;
        pointer-events: none;
        background: radial-gradient(at 50% 110%, transparent 50%, color.adjust($primaryColor, $lightness: -10%) 100%);
        mix-blend-mode: color-dodge;


    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        z-index: -1;
        border: $gemBorderWidth outset white;
        mix-blend-mode: hard-light;
        opacity: 0.25;
        pointer-events: none;
        background-size: contain;
        box-shadow: 0 0 1rem transparent, 0 0 0.5rem transparent, 0 0 0.25rem transparent;
        transition: box-shadow 250ms ease-in-out;
    }

    &:hover {
        background-color: $hoverColor;
        color: $textColor;

        &:after {
            box-shadow: 0 0 1rem $primaryColor, 0 0 0.5rem $primaryColor, 0 0 0.25rem $primaryColor;
        }
    }

    &:visited {
        color: $textColor;
    }

    &[disabled] {
        background-color: color.adjust($primaryColor, $saturation: -90%, $space: hsl);

        &:after {
            border: $gemBorderWidth outset color.adjust(color.adjust($primaryColor, $lightness: 20%), $saturation: -90%, $space: hsl);
        }
        &:hover {
            background-color: color.adjust($hoverColor, $saturation: -90%, $space: hsl);
        }
    }

}
