@use 'sass:color';
@use 'sass:math';

@use '../base/palette';
@use '../base/typography';
@use '../base/variables';

@mixin buttonise($buttonColour, $highlightColour, $textColor: palette.$white) {
    text-align: center;
    border: (variables.$baseBorderWidth * 2) ridge palette.$gold;
    display: inline-block;
    position: relative;
    background: transparent radial-gradient(circle at 50% 100%, color.adjust($buttonColour, $alpha: -0.25) 50%, color.adjust($buttonColour, $lightness: -25%, $alpha: -0.25) 100%);
    background-size: cover;
    backdrop-filter: blur(0.125rem);
    flex: 0;
    color: $textColor;
    font-family: typography.$displayStack;
    font-size: 110%;
    text-shadow: -1px -1px 0 color.adjust($buttonColour, $lightness: -12.5%), 1px 1px 0 color.adjust($buttonColour, $lightness: +12.5%);
    padding: math.div(variables.$base-spacing, 4);
    margin-bottom: math.div(variables.$base-spacing, 4);
    transition: box-shadow 250ms ease-in-out;
    box-shadow: 0 0 0.5rem inset rgba(0, 0, 0, 0.125), 0 0 0.375rem inset rgba(0, 0, 0, 0.25), 0 0 0.25rem inset rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    z-index: 2;

    &:before,
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 0;
    }

    &:before {
        box-shadow: 0 0 1rem $highlightColour inset, 0 0 0.5rem $highlightColour inset, 0 0 0.25rem $highlightColour inset;
        transition: box-shadow 250ms ease-in-out;
        mix-blend-mode: screen;
    }

    &:after {
        border: (variables.$baseBorderWidth * 4) outset palette.$white;
        border-left-color: color.adjust(palette.$white, $lightness: -12.5%);
        border-right-color: color.adjust(palette.$white, $lightness: -25%);
        border-bottom-color: color.adjust(palette.$white, $lightness: -37.5%);
        mix-blend-mode: hard-light;
        opacity: 0.5;
    }

    &:hover {
        &:before {
            box-shadow: 0 0 2rem $highlightColour inset, 0 0 1rem $highlightColour inset, 0 0 0.5rem $highlightColour inset;
        }
    }
}
