@use '../base/palette';
@use "sass:color";

@mixin goldText($transitionDuration: 500ms) {
    background: palette.$goldFX;
    color: transparent;
    transition: background-position $transitionDuration ease-in-out;
    background-size: 125%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
