@use '../base/variables';
@use '../base/palette';
@use 'sass:math';

@mixin styleInputs() {
    label {
        display: flex;
        flex: 1;
        font-weight: bold;
        font-size: 1.125em;
    }
    input,textarea {
        display: flex;
        border: 0.25rem solid transparent;
        border-image: url('/dist/images/eroded-frame-whiteinner.svg') 33%;

        background-color: palette.$white;
        padding: math.div(variables.$base-spacing, 4);
        flex: 1;
        width: 100%;

        &:focus {
            outline: none;
            box-shadow: 0 0 0.5rem palette.$keyColor;
        }
    }
}
