@use '../base/variables';
@mixin styleInputs() {
    label {
        display: flex;
        flex: 1;
        font-weight: bold;
        font-size: 1.125rem;
    }
    input,textarea {
        display: flex;
        border: 0.25rem solid transparent;
        border-image: url('/dist/images/eroded-frame-whiteinner.svg');
        border-image-slice: 33%;
        background-color: #f7f5f2;
        padding: variables.$base-spacing;
        flex: 1;
        width: 100%;
    }
}
