<div is="feat-icon" data-featname="{{ feat.getLabel }}" data-description="{{ feat.getDescription }}" class="feat-icon feat-{{ feat.getRarity.getClassSafeLabel }} {% if smallMode is defined and smallMode == true %}sm{% endif %}">
    <i class="ra {{ feat.getIconClass }}"></i>
</div>
