@use "sass:color";
@use "palette";

body, html {
	//background-color: palette.$vellum;
    background: linear-gradient(0deg, palette.$vellum, darken(palette.$vellum, 10));
	height: 100%;
	color: color.adjust(palette.$charcoal, $alpha: -0.125);
}

body {

}
