$charcoal: #080808;
$vellum: #f8ecd4;
$white: #eee8dc;
$crimson: #790000;
$green: #049c18;
$blue: #0a009b;
$yellow: #ffee00;
$gold: #ffd000;
$wyrdPurple: #ab47ab;
$black: #282828;
$goldFX: repeating-linear-gradient(33deg, #B38728, #FCF6BA, #B38728, #FBF5B7, #B38728);
$silverFX: repeating-linear-gradient(33deg, gray, lightgray, white, lightgray, gray);
