@use "../mixins/goldtext";
@use "../base/palette";
@use "../base/variables";
@use "sass:color";

@font-face {
    font-family: 'Gladius';
    src: url('../../fonts/Gladius.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../fonts/CrimsonText-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../fonts/CrimsonText-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../fonts/CrimsonText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DethekStone';
    src: url('../../fonts/DethekStone.ttf') format('truetype');
}

@font-face {
    font-family: 'Devinne Swash';
    src: url('../../fonts/DevinneSwash-solid.ttf') format('truetype');
}

@font-face {
    font-family: 'RPGAwesome';
    src: url('../../fonts/rpgawesome-webfont.eot?v=0.1.0');
    src: url('../../fonts/rpgawesome-webfont.eot?#iefix&v=0.1.0') format('embedded-opentype'), url('../../fonts/rpgawesome-webfont.woff?v=0.1.0') format('woff'), url('../../fonts/rpgawesome-webfont.ttf?v=0.1.0') format('truetype'), url('../../fonts/rpgawesome-webfont.svg?v=0.1.0#rpg-awesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lugrasimo';
    src: url('../../fonts/Lugrasimo-Regular.ttf') format('truetype');
}

$textStack: 'Crimson Text', serif;
$displayStack: 'Devinne Swash', serif;

body, html {
	font-size: 12pt;
	font-family: $textStack;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

h1 {
    position: relative;
    margin: 1.5vw 0;
    display: block;
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: (variables.$base-spacing * 3);
    transform: rotate(0.0665deg);

}
h1 {
	font-family: $displayStack;
}

h2 {
    font-size: 3rem;
}
