<!DOCTYPE html>
<html lang="en-GB">
    {% embed 'base/partials/_head.html.twig' %}{% endembed %}
    <body>

        {% embed 'base/partials/_header.html.twig' %}{% endembed %}
        {% embed 'base/partials/_alerts.html.twig' %}{% endembed %}


        <main>
            <div class="row title-container">
                <div class="col">
                    <h1>{{ pageTitle }}</h1>
                </div>
            </div>


            {% block body %}{% endblock %}
        </main>
        {% embed 'base/partials/_footer.html.twig' %}{% endembed %}
        {% block footerStyles %}
        {% endblock %}
        {% block footerScripts %}
        {% endblock %}
        <div class="shade"></div>
    </body>
</html>
