<!DOCTYPE html>
<html>
<!-- 853.74 to beat -->
<!-- 476.5 -->
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ pageTitle }}{% endblock %}</title>
        <link rel="icon" href="/images/myotr-logo.svg">
        <link rel="stylesheet" href="/css/app.css">
        <script src="/js/app.js"></script>
        {% embed 'base/partials/preloads.html.twig' %}{% endembed %}
    </head>
    <body>
        {% embed 'base/partials/header.html.twig' %}{% endembed %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% embed 'base/partials/footer.html.twig' %}{% endembed %}
        {% block footerStyles %}
        {% endblock %}
    </body>
</html>
