<!DOCTYPE html>
<html lang="en-GB">
    {% embed 'base/partials/_head.html.twig' %}{% endembed %}
    <body>
        <main class="error-wrapper">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
