<!DOCTYPE html>
<html>
    {% embed 'base/partials/_head.html.twig' %}{% endembed %}
    <body>
        {% embed 'base/partials/_header.html.twig' %}{% endembed %}
        {% embed 'base/partials/_alerts.html.twig' %}{% endembed %}
        <main class="normal">
            {% embed 'base/partials/_breadcrumbs.html.twig' %}{% endembed %}
            <div class="title-container">
                <h1 class="drop-cap">{{ pageTitle }}</h1>
            </div>
            {% block body %}{% endblock %}
        </main>
        {% embed 'base/partials/_footer.html.twig' %}{% endembed %}
        {% block footerStyles %}
        {% endblock %}
        {% block footerScripts %}
        {% endblock %}
    </body>
</html>
