<!DOCTYPE html>
<html lang="en-GB">
    {% embed 'base/partials/_head.html.twig' %}{% endembed %}
    <body>

        {% embed 'base/partials/_header.html.twig' %}{% endembed %}
        {% embed 'base/partials/_alerts.html.twig' %}{% endembed %}


        <main>
            {% if breadcrumbs is not empty %}
                {% embed 'base/partials/_breadcrumbs.html.twig' with {'breadcrumbs': breadcrumbs}%}{% endembed %}
            {% endif %}
            <div class="row title-container{% if heroImageUrl is defined and heroImageUrl is not null %} hero{% endif %}">
                {% if heroImageUrl is defined and heroImageUrl is not null %}
                    <img class="row-hero-backer" src="{{ game.getHeroImageUrl }}" alt="{{ game.getName }}">
                {% endif %}
                <div class="col">
                    <h1>{{ pageTitle }}</h1>
                </div>
            </div>


            {% block body %}{% endblock %}
        </main>
        {% embed 'base/partials/_footer.html.twig' %}{% endembed %}
        {% block footerStyles %}
        {% endblock %}
        {% block footerScripts %}
        {% endblock %}
        <div class="shade"></div>
        {% embed 'base/partials/_cookies.html.twig' %}{% endembed %}
    </body>
</html>
