{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <p>{{ siteName }} is a project that enables online Dungeon Masters to share puzzles over the web.</p>
            <p>This is a volunteer project, and is proudly open-source. <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">(GPL v3)</a></p>
            <a href="https://github.com/sambaynham/dnd-puzzles">https://github.com/sambaynham/dnd-puzzles</a>
        </div>
    </div>
{% endblock %}
