{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 is="drop-cap">Contributing a Puzzle</h1>
            <p>DND Puzzles is a hobbyist project. It's not designed to be slick or professional!</p>
            <p>We welcome contributions from anyone, provided they satisfy these criteria:</p>
            <ul>
                <li>Written in TypeScript <em>without @tsIgnore</em>.</li>
                <li>Written as a Web Component (No React, Vue, JSX or other JS Frameworks).</li>
                <li>Works on Chrome AND FireFox.</li>
                <li>Has no external dependencies.</li>
                <li>Follows our Style Guide.</li>
                <li>Is styled with SASS and uses our built-in styling systems wherever possible.</li>
                <li>Does not contain any offensive content.</li>
                <li>Is licensed under the GPL v3.</li>
            </ul>
        </div>
    </div>
{% endblock %}
