{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <p>{{ siteName }} is a hobbyist project. It's not designed to be slick or professional!</p>
            <p>We welcome contributions from anyone, provided they satisfy these criteria:</p>
            <ul>
                <li>Written in TypeScript <em>without @tsIgnore</em>. <span class="tooltip" is="tooltip-element" title="TypeScript is far safer and more reliable than straight JavaScript.">Why?</span></li></li>
                <li>Written as a Web Component (No React, Vue, JSX or other JS Frameworks).<span class="tooltip" is="tooltip-element" title="Web Components are part of the HTML standard, and don't require any bootstrap code to work. If we allowed Frameworks, maintaining the various versions needed by different puzzles would swiftly become unmaintainable.">Why?</span></li>
                <li>Works on Chrome AND FireFox. <span class="tooltip" is="tooltip-element" title="Interoperability provides future-proofing.">Why?</span></li>
                <li>Has no external dependencies.  <span class="tooltip" is="tooltip-element" title="External dependencies can disappear at any time, rendering a puzzle inoperable.">Why?</span></li>
                <li>Follows our Style Guide.</li>
                <li>Is styled with SASS and uses our built-in styling systems wherever possible.</li>
                <li>Does not contain any offensive content.  <span class="tooltip" is="tooltip-element" title="Because this site is for everyone!">Why?</span></li>
                <li>Is licensed under the GPL v3.  <span class="tooltip" is="tooltip-element" title="We need the assurance that a puzzle can be maintained even if its current maintainer no longer wishes to do the job. That means the right to copy, modify and redistribute.">Why?</span></li>
            </ul>
        </div>
    </div>
{% endblock %}
