{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <p>{{ siteName }} would not be possible without the contributions of:</p>
            <ul>
                <li>Betsy Ogilvy</li>
            </ul>
        </div>
    </div>
{% endblock %}
