{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <p>{{ siteName }} would not be possible without the contributions of:</p>
            <ul>
                <li>Various Art by Betsy Ogilvy</li>
                <li><em>Fantasy Landscape</em> by <a href="https://www.peppercarrot.com/en/viewer/misc__2007-01-30_Fantasy-Landscape_by-David-Revoy.html">David Revoy - CC-BY 4.0</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
