{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <p>{{ siteName }} would not be possible without the contributions of:</p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Contribution</th>
                        <th>License</th>
                    </tr>
                </thead>
                <tbody>
                    {% for credit in credits %}
                        <tr>
                            <td>{{ credit.author }}</td>
                            <td>{{ credit.contribution }}</td>
                            <td>{{ credit.license }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
