{% extends 'base/base-minimal.html.twig' %}
{% block body %}

    <div class="row flush three-quarters-one-quarter">
        <div class="col">
            <div class="rounded panel">
                {{ component(
                    'Slideshow',
                    {
                        'name':  'heroslide',
                        'slides' : [
                        {
                            'imgSrc': '/dist/images/hero.webp',
                            'imgAlt': 'A puzzled party of adventurers poring over a scroll',
                            'slideHeading': 'Welcome to the Conundrum Codex',
                            'slideBody': 'The Conundrum Codex is a community-driven site where Online Games-Masters can share interactive puzzles with their players.',
                            'cta': {
                                'route': 'app.auth.register',
                                'label': 'Get Started'
                            }
                        },
                        {
                            'imgSrc': '/dist/images/hero2.jpg',
                            'imgAlt': 'A happy adventurer looks out over a vista',
                            'slideHeading': 'Some other item',
                            'slideBody': 'The Conundrum Codex is a community-driven site where Online Games-Masters can share interactive puzzles with their players.',
                        }
                    ]
                    }
                ) }}
            </div>
        </div>
        <div class="col">
            <h2>Browse Puzzles</h2>
            <h3 class="centerline">Categories</h3>
            <nav class="puzzle-categories lozenges">
                {%  for category in categories %}
                    <a href="{{ path('app.puzzles.category.show', {'categorySlug': category.getSlug}) }}">{{ category.getLabel }}</a>
                {% endfor %}
            </nav>


        </div>

    </div>
    <div class="row flush">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row flush">
        <div class="col">
            <h1 class="drop-cap">About</h1>
            <p>{{ siteName }} is designed to help online games-masters of tabletop RPGs set engaging interactive puzzles remotely.</p>
            <p>We're community drive, and offer many different types of puzzles that can be customised to meet the needs of your game and setting.</p>
            <p></p>
        </div>

    </div>
{% endblock %}
