{% extends 'base/base-minimal.html.twig' %}
{% block body %}

    <div class="row flush">
        <div class="col">
            <div class="roundel">
                <h1 class="drop-cap">Welcome!</h1>
            </div>
        </div>
        <div class="col">
            <div class="roundel">
                <h1 class="drop-cap">Welcome!</h1>
            </div>

        </div>
        <div class="col">
            <img src="/dist/images/hero.webp" alt="A puzzled party of adventurers poring over a scroll">
        </div>
    </div>
{% endblock %}
