{% extends 'base/base-minimal.html.twig' %}
{% block body %}
    <div class="row thirds bordered">
        <div class="col">
            <h1>Column 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla lacus ut massa malesuada ornare. Suspendisse eleifend mauris feugiat urna dignissim, quis condimentum sem elementum. Proin laoreet efficitur urna sit amet sagittis. Maecenas dictum, orci sit amet sollicitudin fermentum, odio sapien cursus elit, vitae auctor sapien orci scelerisque ex. Morbi pellentesque suscipit lectus, in lacinia urna maximus quis. Etiam sit amet purus tortor. Sed nunc sem, auctor id mauris vitae, sagittis ornare mi. Suspendisse efficitur tempor ipsum, efficitur bibendum urna sagittis in. Nam odio est, consequat ut eleifend vel, tincidunt nec purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu felis sapien. </p>
        </div>
        <div class="col">
            <h1>Column 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla lacus ut massa malesuada ornare. Suspendisse eleifend mauris feugiat urna dignissim, quis condimentum sem elementum. Proin laoreet efficitur urna sit amet sagittis. Maecenas dictum, orci sit amet sollicitudin fermentum, odio sapien cursus elit, vitae auctor sapien orci scelerisque ex. Morbi pellentesque suscipit lectus, in lacinia urna maximus quis. Etiam sit amet purus tortor. Sed nunc sem, auctor id mauris vitae, sagittis ornare mi. Suspendisse efficitur tempor ipsum, efficitur bibendum urna sagittis in. Nam odio est, consequat ut eleifend vel, tincidunt nec purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu felis sapien. </p>
        </div>
        <div class="col">
            <h1>Column 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla lacus ut massa malesuada ornare. Suspendisse eleifend mauris feugiat urna dignissim, quis condimentum sem elementum. Proin laoreet efficitur urna sit amet sagittis. Maecenas dictum, orci sit amet sollicitudin fermentum, odio sapien cursus elit, vitae auctor sapien orci scelerisque ex. Morbi pellentesque suscipit lectus, in lacinia urna maximus quis. Etiam sit amet purus tortor. Sed nunc sem, auctor id mauris vitae, sagittis ornare mi. Suspendisse efficitur tempor ipsum, efficitur bibendum urna sagittis in. Nam odio est, consequat ut eleifend vel, tincidunt nec purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu felis sapien. </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Column 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fringilla lacus ut massa malesuada ornare. Suspendisse eleifend mauris feugiat urna dignissim, quis condimentum sem elementum. Proin laoreet efficitur urna sit amet sagittis. Maecenas dictum, orci sit amet sollicitudin fermentum, odio sapien cursus elit, vitae auctor sapien orci scelerisque ex. Morbi pellentesque suscipit lectus, in lacinia urna maximus quis. Etiam sit amet purus tortor. Sed nunc sem, auctor id mauris vitae, sagittis ornare mi. Suspendisse efficitur tempor ipsum, efficitur bibendum urna sagittis in. Nam odio est, consequat ut eleifend vel, tincidunt nec purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu felis sapien. </p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
        </div>
        <div class="col">
            <h1>Column 2</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
            <p>Lorem ipsum dolor sit amet ad conspectitur adelescing.</p>
        </div>
    </div>
{% endblock %}
