{% set pageTitle = pageTitle|default('Alchemical Potions') %}
{% set siteName = 'Alchemical Potions' %}
{% set nav = [] %}
{% set hideBugReportLink = true %}

{% extends 'base/base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
<div class="puzzle-container">
    <h1>{{ pageTitle }}</h1>
    <div is="alchemical-potions" class="arcane-puzzle alchemical-potions" id="puzzle"{% if config is defined %} data-config="{{ config|json_encode|e('html_attr') }}"{% endif %}></div>
    <div class="puzzle-controls">
        <button onclick="document.getElementById('puzzle').reset()">Reset</button>
        <button onclick="document.getElementById('puzzle').giveHint()">Hint</button>
    </div>
</div>
{% endblock %}

{% block footerScripts %}
    <script type="module" src="/dist/js/arcaneBoot.js"></script>
{% endblock %}

{% block footerStyles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/dist/css/puzzles/arcane.css">
{% endblock %}
