{% extends 'base/base.html.twig' %}
{% block body %}

    <div class="tabs-element" is="tabs-element">
        <nav class="tab-headings">
            <a href="#people" class="active">People</a>
            <a href="#objects">Objects</a>
            <a href="#locations">Locations</a>
            <a href="#misc">Misc</a>
        </nav>
        <div class="tab-content-container">
            <div id="people" class="active tab-content">
                {% if casebook.getSubjectsByTypeHandle('person') is  empty %}
                    You have no people in your casebook!
                {% else %}
                    <div class="accordion-list" is="accordion-list">
                        {% for person in casebook.getSubjectsByTypeHandle('person') %}
                            {% embed 'visitor/puzzles/templates/casebook/subjects/partials/_subject.html.twig' with {'subject': person} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}
                <a class="btn btn-cta" href="{{ path('app.puzzles.static.casebook.subjects.add', {
                    'instanceCode': casebook.getSlug,
                    'templateSlug': casebook.getTemplate.getSlug,
                    'gameSlug': casebook.getGame.getSLug
                }) }}">
                    Add a new Person
                </a>
            </div>
            <div id="objects" class="tab-content">
                {% if casebook.getSubjectsByTypeHandle('object') is  empty %}
                    You have no objects in your casebook!
                {% else %}
                    <div class="accordion-list" is="accordion-list">
                        {% for object in casebook.getObjects %}
                            {% embed 'visitor/puzzles/templates/casebook/subjects/partials/_subject.html.twig' with {'subject': object} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}
                <a class="btn btn-cta" href="{{ path('app.puzzles.static.casebook.subjects.add', {
                    'instanceCode': casebook.getSlug,
                    'templateSlug': casebook.getTemplate.getSlug,
                    'gameSlug': casebook.getGame.getSLug
                }) }}">
                    Add a new Object
                </a>
            </div>
            <div id="locations" class="tab-content">
                {% if casebook.getSubjectsByTypeHandle('location') is  empty %}
                    You have no locations in your casebook!
                {% else %}
                    <div class="accordion-list" is="accordion-list">
                        {% for location in casebook.getLocations %}
                            {% embed 'visitor/puzzles/templates/casebook/subjects/partials/_subject.html.twig' with {'subject': location} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}
                <a class="btn btn-cta" href="{{ path('app.puzzles.static.casebook.subjects.add', {
                    'instanceCode': casebook.getSlug,
                    'templateSlug': casebook.getTemplate.getSlug,
                    'gameSlug': casebook.getGame.getSLug
                }) }}">
                    Add a new Location
                </a>
            </div>

            <div id="misc" class="tab-content">
                {% if casebook.getSubjectsByTypeHandle('misc') is  empty %}
                    You have no Miscellaneous Subjects in your casebook!
                {% else %}
                    <div class="accordion-list" is="accordion-list">
                        {% for miscSubject in casebook.casebook.getSubjectsByTypeHandle('misc') %}
                            {% embed 'visitor/puzzles/templates/casebook/subjects/partials/_subject.html.twig' with {'subject': miscSubject} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}
                <a class="btn btn-cta" href="{{ path('app.puzzles.static.casebook.subjects.add', {
                    'instanceCode': casebook.getSlug,
                    'templateSlug': casebook.getTemplate.getSlug,
                    'gameSlug': casebook.getGame.getSLug
                }) }}">
                    Add a new Miscellaneous Subject
                </a>
            </div>
        </div>
    </div>
{% endblock %}
