{% extends 'base/base.html.twig' %}
{% block body %}

    <div class="row bordered">

        <div class="col">
            <h2>Games I run</h2>
            {% if gamesMastered is not empty %}
                {% for gameMastered in gamesMastered %}
                    {% embed 'visitor/games/partials/_gameCard.html.twig' with {'game': gameMastered, 'mode': 'gamesmaster'} %}{% endembed %}
                {% endfor %}

            {% else %}

                <em>{{ 'You are not currently the Games Master for any games. Why not create one?'|trans }}</em>

            {% endif %}


            <a class="btn btn-secondary" href="{{ path('app.games.create') }}">Create a Game</a>
        </div>
        <div class="col">
            <h2>Games I'm Playing in</h2>

            {% if gamesMember is not empty %}

                    {% for game in gamesMember %}
                        {% embed 'visitor/games/partials/_gameCard.html.twig' with {'game': game, 'mode': 'player'} %}{% endembed %}
                    {% endfor %}
                </div>

            {% else %}

                   <em>{{ 'You are not currently a player in any games.'|trans }}</em>

            {% endif %}

        </div>
    </div>
{% endblock %}
