{% extends 'base/base.html.twig' %}
{% block body %}

    <div class="row bordered">

        <div class="col">
            <h2>Games I run</h2>
            {% if gamesMastered is not empty %}
                {% for gameMastered in gamesMastered %}
                    {% embed 'visitor/games/partials/_gameCard.html.twig' with {'game': gameMastered, 'mode': 'gamesmaster'} %}{% endembed %}
                {% endfor %}

            {% else %}

                <em>{{ 'You are not currently the Games Master for any games. Why not create one?'|trans }}</em>

            {% endif %}


            {% if not app.user.canCreateGames %}
                <p>
                    You've reached the limit of concurrent games you can run. To create a new game, please archive another one.
                </p>
                <p>Please either archive some old games or upgrade your account.</p>
                <button class="btn btn-primary" disabled>Create a Game</button>
            {% else %}
                <a class="btn btn-primary" href="{{ path('app.games.create') }}">Create a Game</a>
            {% endif %}
        </div>
        <div class="col">
            <h2>Games I'm Playing in</h2>

            {% if gamesMember is not empty %}
                {% for game in gamesMember %}
                    {% embed 'visitor/games/partials/_gameCard.html.twig' with {'game': game, 'mode': 'player'} %}{% endembed %}
                {% endfor %}
            {% else %}
                <em>{{ 'You are not currently a player in any games.'|trans }}</em>
            {% endif %}
        </div>
    </div>
    {% if archivedGames is not empty %}
        <div class="row">
            <div class="col">
                <h2>Archived Games</h2>
                {% for game in archivedGames %}
                    {% embed 'visitor/games/partials/_gameCard.html.twig' with {'game': game, 'mode': 'gamesmaster'} %}{% endembed %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
