@use '../base/variables';
@use 'sass:math';

.row {
    display: flex;
    flex-direction: column;
    width: variables.$fullscreen-viewport-width;

    .col {
        flex: 1;
        margin: variables.$base-column-spacing;
        padding: variables.$base-column-spacing;


    }
}
@media (width >= variables.$breakpoint-standard){
    .row {
        padding: 0 math.div((100vw - variables.$fullscreen-viewport-width), 2);
        flex-direction: row;

        .col {
            padding: math.div(variables.$base-column-spacing, 4);

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &.bordered {
            .col {
                position: relative;
                &:not(:last-child) {
                    &:after {
                        content: " ";
                        height: 100%;
                        display: block;
                        width: 0.05rem;
                        background: radial-gradient(circle at 50% 50%, white, transparent 75%);
                        position: absolute;
                        top: 0;
                        right: 0 - variables.$base-column-spacing;
                    }
                }
            }
        }
    }
}
