@use 'sass:math';

@use '../base/variables';
@use '../base/palette';


body,html {
    margin-top: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;


    .row.hero {
        position: relative;
        overflow: hidden;
        border: 0.1rem solid transparent;
        box-shadow: palette.$baseBoxShadow;
        border-radius: variables.$baseBorderRadius;
        border-image: palette.$goldFX 10%;

        img.row-hero-backer{
            width: 100%;
            max-height: initial;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    .row, .col {
        flex: 1;
        display: flex;
        flex-direction: column;

        &.hide-sm {
            display: none;
        }

        img {
            max-height: 100%;
            max-width: initial;
        }

        .col {
            article:not(.accordion-entry) {
                display: block;
                padding: math.div(variables.$base-spacing, 4) 0;
                &:not(:last-child) {
                    margin-bottom: math.div(variables.$base-spacing, 2);
                }

            }
        }
    }

    .row {
        margin-bottom: math.div(variables.$base-spacing, 2);

        &.title-container {
            .col {
                padding-bottom: 0;
            }
            margin-bottom: math.div(variables.$base-spacing, 8);
        }
        .col {
            padding: math.div(variables.$base-spacing, 2);
            overflow-x: hidden;
        }

        &.no-margin {
            margin-bottom: 0;
        }
    }


}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    main {
        width: variables.$desktopMaxViewportWidth;
        .row, .col {
            &.hide-sm {
                display: flex;
            }
        }

        .row {
            margin-bottom: variables.$base-spacing;
            flex-direction: row;

            &.bordered {
                .col {
                    position: relative;

                    &:not(:last-child) {
                        &:after {
                            content: " ";
                            display: block;
                            width: 0.05rem;
                            height: 100%;
                            background: radial-gradient(circle at 50% 50%, palette.$ink 90%, transparent);
                            top: 0;
                            right: 0 - math.div(variables.$base-spacing, 2);
                            position: absolute;
                        }
                    }

                }
            }

            &.title-container {

                margin-bottom: 0;
                &.hero {
                    margin-bottom: variables.$base-spacing;
                    .col {
                        text-align: center;
                        padding-top: 10vh;
                        padding-bottom: 10vh;
                        h1 {
                            color: transparent;
                            background-image: palette.$goldFX;
                            background-clip: text;
                        }
                    }
                }


            }

            &:last-child {
                margin-bottom: 0;
            }

            .col {
                margin: 0 math.div(variables.$base-spacing, 2);
                padding: 0;
                overflow: visible;

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }

            &.two-thirds-one-third {
                .col {
                    &:first-child {
                        flex-basis: (math.div(100%, 3) * 2);
                    }
                    &:last-child {
                        flex-basis: math.div(100%, 3);
                    }
                }
            }

            &.one-third-two-thirds {
                .col {
                    &:first-child {
                        flex-basis: math.div(100%, 3);
                    }
                    &:last-child {
                        flex-basis: (math.div(100%, 3) * 2);
                    }
                }
            }

            &.three-quarters-one-quarter {
                .col {
                    &:first-child {
                        flex-basis: 75%;
                    }
                    &:last-child {
                        flex-basis: 25%;
                    }
                }
            }
            &.one-quarter-three-quarters {
                .col {
                    &:first-child {
                        flex-basis: 25%;
                    }

                    &:last-child {
                        flex-basis: 75%;
                    }
                }
            }

            &.equal-thirds {
                .col {
                    flex-basis: 33.333%;
                }
            }
        }
    }

}
