@use "sass:math";

@use "../base/variables";
@use "../base/palette";
@use "../layout/grid";

footer {
    padding: variables.$base-spacing math.div(100vw - variables.$desktopMaxViewportWidth, 2);
    background-color: palette.$charcoal;
    display: flex;
    flex-direction: column;
    color: palette.$white;
    width: 100%;
    box-shadow: variables.$baseBoxShadow;
    z-index: 999;
    font-size: 0.8rem;
    margin: variables.$base-spacing 0 0 0;

    aside {
        flex: 1;
        margin: 0 1rem 0 0;

        &.copy {
            flex-basis: 50%;
        }

        a {
            color: palette.$white;
        }
    }
}
@media only screen and (min-width: 1080px) {
    footer {
        flex-direction: row;
    }
}
