@use "sass:math";

@use "../base/variables";
@use "../base/palette";
@use "../layout/grid";

footer {
    position: relative;
    padding: variables.$base-spacing math.div(100vw - variables.$desktopMaxViewportWidth, 2);
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
    font-size: 0.8rem;
    margin: variables.$base-spacing 0 0 0;

    &:before {
        content: " ";
        display: block;
        background: transparent url("/dist/images/eroded-line.svg") repeat-x;
        background-size: 50%;
        width: variables.$desktopMaxViewportWidth;
        position: absolute;
        height: 0.125rem;
        top: 0;
        left: math.div(100vw - variables.$desktopMaxViewportWidth, 2);
    }
    aside {
        flex: 1;
        margin: 0 1rem 0 0;

        &.copy {
            flex-basis: 50%;
        }

    }
}
@media only screen and (min-width: 1080px) {
    $footerHeight: 5vh;

    footer {
        min-height: $footerHeight;
        line-height: $footerHeight;
        position: absolute;
        bottom: 0;
        flex-direction: row;
        padding: math.div(variables.$base-spacing, 4) math.div((100vw - variables.$desktopMaxViewportWidth), 2);
        width: 100%;

        aside {
            flex: 1;
            &.copy {
                flex-basis: 50%;
            }
        }
    }
}
