@use '../base/variables';
@use '../base/palette';
@use '../base/colors';

main {
    padding-bottom: 5vh;
}
footer {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    position: static;
    box-shadow: colors.$baseBoxShadow;
    aside {
        flex: 1;
        padding: variables.$base-spacing;

        a {
            color: palette.$offWhite;
            text-decoration: underline;
        }
    }
}

@media (width >= variables.$breakpoint-standard){
    footer {
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 90vw;
        padding: 0 5vw;

        aside.copyright {
            flex-basis:33%;
        }
    }
}
