@use '../base/variables';
@use '../base/palette';
@use 'sass:math';

$desktopMaxViewportWidth: 80vw;


body,html {
    margin-top: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: cyan;
    width: $desktopMaxViewportWidth;

    .row, .col {
        flex: 1;
        display: flex;
        flex-direction: column;

        img {
            max-height: 100%;
            max-width: initial;
        }
    }

    .row {
        margin-bottom: math.div(variables.$base-spacing, 2);
        .col {
            padding: math.div(variables.$base-spacing, 2);
            background-color: aliceblue;
            overflow-x: hidden;
        }
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    main {
        .row {
            margin-bottom: variables.$base-spacing;
            flex-direction: row;

            &:last-child {
                margin-bottom: 0;
            }

            .col {
                margin: 0 math.div(variables.$base-spacing, 2);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &.two-thirds-one-third {
                .col {
                    &:first-child {
                        flex-basis: (math.div(100%, 3) * 2);
                    }
                    &:last-child {
                        flex-basis: math.div(100%, 3);
                    }
                }
            }

            &.one-third-two-thirds {
                .col {
                    &:first-child {
                        flex-basis: math.div(100%, 3);
                    }
                    &:last-child {
                        flex-basis: (math.div(100%, 3) * 2);
                    }
                }
            }

            &.three-quarters-one-quarter {
                .col {
                    &:first-child {
                        flex-basis: 75%;
                    }
                    &:last-child {
                        flex-basis: 25%;
                    }
                }
            }
            &.one-quarter-three-quarters {
                .col {
                    &:first-child {
                        flex-basis: 25%;
                    }

                    &:last-child {
                        flex-basis: 75%;
                    }
                }
            }
        }
    }

}
