@use 'sass:math';

@use '../base/variables';

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: variables.$base-spacing;
    column-gap: variables.$base-spacing;
    margin: 0 math.div(variables.$base-spacing, 2);
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .grid {
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: variables.$desktopBreakPointUpper) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
