@use 'sass:color';
@use 'sass:math';

@use '../base/variables';
@use '../base/palette';
@use '../base/typography';

$mobileHeaderHeight: 10vh;
$mobileNavButtonHeight: 8vh;

header {
    position: fixed;
    height: $mobileHeaderHeight;
    background: palette.$charcoal linear-gradient(to top, palette.$charcoal, color.adjust(palette.$charcoal, $lightness: 10%));
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    a.brand {
        display: block;
        line-height: $mobileHeaderHeight;
        height: $mobileHeaderHeight;
        position: absolute;
        left: $mobileHeaderHeight;
        right: $mobileHeaderHeight;
        text-align: center;
        color: transparent;
        background: palette.$goldFX;
        background-clip: text;
        font-family: typography.$displayStack;
        background-size: contain;
    }

    .nav-toggle {
        position: absolute;
        background: palette.$crimson radial-gradient(circle at 50% 0%, color.adjust(palette.$crimson, $lightness: -15%), palette.$crimson);
        height: $mobileNavButtonHeight;
        width: $mobileNavButtonHeight;
        border: none;
        border-radius: 0.125rem;
        top: math.div(($mobileHeaderHeight - $mobileNavButtonHeight), 2);
        color: transparent;
        box-shadow: inset 0 0 2.5rem transparent;
        transition: box-shadow 150ms ease-in-out;

        &.open, &:hover, &:focus {
            box-shadow: inset 0 0 2.5rem color.adjust(palette.$crimson, $lightness: +15%);
        }
        &:before, &:after {
            content: " ";
            display: block;
            position: absolute;
            pointer-events: none;
        }

        &:before {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: 0.25rem outset white;
            mix-blend-mode: soft-light;
            border-radius: 0.125rem;
        }

        &:after {

            top: 0.5rem;
            left: 0.5rem;
            bottom: 0.5rem;
            right: 0.5rem;
            background-size: contain;
        }
        &#main-nav-toggle{
            left: math.div(($mobileHeaderHeight - $mobileNavButtonHeight), 2);;
            &:after {
                background-image: url('/dist/images/icons/menu.svg');
            }
        }

        &#user-nav-toggle{
            right: math.div(($mobileHeaderHeight - $mobileNavButtonHeight), 2);;
            &:after {
                background-image: url('/dist/images/icons/user.svg');
            }
        }
    }

    nav.mobile-nav {
        padding: 0;
        position: absolute;
        background-color: palette.$vellum;
        z-index: 9999;
        top: $mobileHeaderHeight;
        height: 90vh;
        width: 100vw;
        transition: transform 150ms ease-in-out;
        display: flex;
        flex-direction: column;

        &#main-nav {
            transform: translateX(-100vw);

            &.open {
                transform: translateX(0);
            }
        }

        &#user-nav {
            transform: translateX(100vw);
            &.open {
                transform: translateX(0);
            }
        }

        form, ul {
            flex: 1;
        }

        form {
            flex-basis: 10vh;
            margin: math.div(variables.$base-spacing, 4);
            background-color: palette.$offWhite;
            box-shadow: palette.$baseBoxShadow;
            border-radius: 0.125rem;
            display: flex;
            input {
                padding: math.div(variables.$base-spacing, 4);
                border: none;
                background-color: transparent;
                flex: 1;
                flex-basis: 80%;
            }
            button {
                border: none;
                background-color: transparent;
                flex: 1;
                flex-basis: 20%;
                color: transparent;
                position: relative;
                &:after {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;

                    background-image: url('/dist/images/icons/magnifier.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    pointer-events: none;
                    background-position: 50% 50%;

                }
            }
        }

        ul {
            flex-basis: 80vh;
            display: flex;
            flex-direction: column;
            list-style-type: none;

            li {
                flex: 1;
                padding: 0;
                margin: 0;
                flex-basis: 10vh;
                flex-grow: 0;

                &:nth-child(even) {
                    background-color: color.adjust(palette.$vellum, $lightness: -2.5%);
                }

                &:hover, &:focus, &:active {
                    background-color: palette.$crimson;

                    a {
                        color: palette.$offWhite;
                    }
                }

                a {
                    display: block;
                    padding: math.div(variables.$base-spacing, 4);
                    width: 100%;

                }
            }
        }
    }
}

main {
    margin-top: $mobileHeaderHeight;
}
