@use 'sass:math';
@use 'sass:color';

@use '../base/typography';
@use '../base/variables';
@use '../base/palette';

$logoHeight: 10vh;

.logo-wrapper {
    display: none;
}


@media only screen and (min-width: variables.$mobileBreakPointUpper) {

    .logo-wrapper {
        display: block;
        position: relative;
        transition: opacity 200ms ease-in-out;
        padding: 2rem;

        .hero-image-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img.header-backer {
                object-fit: cover;
            }
        }


        a.header-logo {
            display: block;
            color: transparent;
            width: 40vh;
            padding-top: $logoHeight + 2vh;
            position: relative;
            margin: 0 auto;

            &:hover, &:focus, &:active {
                color: transparent;
            }

            span.logo-text {
                display: block;
                width: 100%;
                position: relative;
                color: palette.$ink;
                font-size: math.div($logoHeight, 2.5);
                font-family: typography.$displayStack;
                text-align: center;
            }

            &:before, &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 2vh;
                left: 50%;
                margin-left: 0 - math.div($logoHeight, 2);
                height: $logoHeight;
                width: $logoHeight;
            }

            &:before {
                background: linear-gradient(33deg, cyan, magenta);
                background-size: 400%;
                animation: gradient 5s ease infinite;
                mask-image: var(--penroseMask);
                mask-size: contain;
                mask-repeat: no-repeat;
            }

            &:after {
                background-image: var(--penroseOverlay);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        &.has-hero {
            border-bottom: variables.$baseBorderWidth solid cyan;
            border-image: palette.$goldFX 33%;
            margin-bottom: math.div(variables.$base-spacing, 2);
            &:before {
                content: " ";
                display: block;
                background: linear-gradient(to top, palette.$charcoal, transparent 25%);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            a.header-logo {
                z-index: 2;
                span.logo-text {
                    color: transparent;
                    background: palette.$goldFX;
                    background-clip: text;
                }
            }
        }
    }

    body.scrolled {
        .logo-wrapper {
            opacity: 0;
        }
    }
}
