@use 'sass:math';
@use 'sass:color';

@use '../base/typography';
@use '../base/variables';
@use '../base/palette';
@use '../base/inlinedFiles';
$logoHeight: 8vh;

.logo-wrapper {
    display: none;
}


@media only screen and (min-width: variables.$mobileBreakPointUpper) {

    .logo-wrapper {
        display: block;

        position: relative;
        padding: 2rem;

        &:before {
            content: " ";
            background: palette.$goldFX;
            mask-image: inlinedFiles.$starBurstMask;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: 50% 0%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right:0;
            background-attachment: fixed;
            background-size: 150%;
        }

        a.header-logo {
            display: block;
            color: transparent;
            width: 40vh;
            padding-top: $logoHeight + 2vh;
            position: relative;
            margin: 0 auto;

            &:hover, &:focus, &:active {
                color: transparent;
            }

            span.logo-text {
                display: block;
                width: 100%;
                position: relative;
                background: palette.$goldFX;
                background-size: 50%;
                background-clip: text;
                font-size: math.div($logoHeight, 2.5);
                font-family: typography.$displayStack;
                text-align: center;

                &:before {
                    top: 0;
                    left: 0;
                    text-shadow: 0 0 0.5rem color.adjust(palette.$ink, $alpha: -0.75),
                        0 0 0.25rem color.adjust(palette.$ink, $alpha: -0.5),
                        0 0 0.125rem color.adjust(palette.$ink, $alpha: -0.5),
                        0 0 0.0675rem color.adjust(palette.$ink, $alpha: -0.5),
                        0 0 0.03rem color.adjust(palette.$ink, $alpha: -0.5);
                    content: attr(content);
                    position: absolute;
                    width: 100%;
                    display: block;
                    z-index: -1;

                }

            }
            &:before, &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 2vh;
                left: 50%;
                margin-left: 0 - math.div($logoHeight, 2);
                height: $logoHeight;
                width: $logoHeight;
            }

            &:before {
                background: linear-gradient(33deg, cyan, magenta);
                background-size: 400%;
                animation: gradient 5s ease infinite;
                mask-image: inlinedFiles.$penroseMask;
                mask-size: contain;
                mask-repeat: no-repeat;
            }

            &:after {
                background-image: inlinedFiles.$penroseOverlay;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

}
