@use 'sass:math';
@use 'sass:color';

@use '../base/typography';
@use '../base/variables';
@use '../base/palette';

$logoHeight: 8vh;

.logo-wrapper {
    display: none;
}


@media only screen and (min-width: variables.$mobileBreakPointUpper) {

    .logo-wrapper {
        display: block;
        position: relative;
        padding: 2rem;

        a.header-logo {
            display: block;
            color: transparent;
            width: 40vh;
            padding-top: $logoHeight + 2vh;
            position: relative;
            margin: 0 auto;

            &:hover, &:focus, &:active {
                color: transparent;
            }

            span.logo-text {
                display: block;
                width: 100%;
                position: relative;
                color: palette.$ink;
                font-size: math.div($logoHeight, 2.5);
                font-family: typography.$displayStack;
                text-align: center;
            }

            &:before, &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 2vh;
                left: 50%;
                margin-left: 0 - math.div($logoHeight, 2);
                height: $logoHeight;
                width: $logoHeight;
            }

            &:before {
                background: linear-gradient(33deg, cyan, magenta);
                background-size: 400%;
                animation: gradient 5s ease infinite;
                mask-image: var(--penroseMask);
                mask-size: contain;
                mask-repeat: no-repeat;
            }

            &:after {
                background-image: var(--penroseOverlay);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

}
