{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <p>You've been invited to join {{ invitation.getGame.getName }}, by {{ invitation.getGame.getGamesMaster.getUserName }}.</p>
            <p>This invitation will expire on {{ invitation.getExpiresAt.format('Y-m-d H:i') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
