@use "sass:color";
@use "sass:math";

@use "../critical/base/palette";
@use "../critical/base/variables";

.clue-wrapper {
    padding: math.div(variables.$base-spacing, 4);
    background-color: color.mix(palette.$yellow, palette.$offWhite, 25%);
    margin-bottom: math.div(variables.$base-spacing, 2);
    position: relative;
    box-shadow: palette.$baseBoxShadow;

    .clue-title {
        margin: 0;
    }

    .clue-body {

    }

    .clue-type {
        text-transform: capitalize;
        font-family: sans-serif;
        font-size: 0.8rem;
        background-color: palette.$blue;
        color: palette.$offWhite;
        padding: math.div(variables.$base-spacing, 8);
        border-radius: 0.2rem;
        &:before {
            content: " ";
            font-family: "RPGAwesome", sans-serif;

        }

        &.motive {
            background-color: palette.$crimson;
            &:before {
                content: " "
            }
        }

        &.state_of_mind {
            &:before {
                content: " "
            }
            background-color: palette.$stormBlue;
        }

        &.misc {
            &:before {
                content: " "
            }
            background-color: palette.$wyrdPurple;
        }

        &.physical_details {
            &:before {
                content: " "
            }
            background-color: palette.$crimson;
        }

        &.whereabouts {
            &:before {
                content: " "
            }
            background-color: palette.$stormBlue;
        }

        &.timing {
            &:before {
                content: " "
            }
            background-color: palette.$green;
        }

        &.background {
            &:before {
                content: " "
            }
            background-color: palette.$wyrdPurple;
        }
    }

    .revealed-at {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        padding: math.div(variables.$base-spacing, 4);
        font-style: italic;
        font-size: 50%;
    }
}


@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .clue-wrapper {
        .revealed-at {
            display: block;
        }
    }
}
