@use "sass:math";
@use "../critical/base/palette";
@use "../critical/base/variables";

.clue-wrapper {
    padding: math.div(variables.$base-spacing, 4);
    border-top: 2px solid palette.$ink;

    .clue-title {
        font-family: "Merienda", serif;
        color: palette.$inkBlue;
        margin: 0;
    }

    .clue-body {
        font-family: "Merienda", serif;
        color: palette.$inkBlue;
    }

    .clue-type {
        text-transform: capitalize;
        font-family: sans-serif;
        font-size: 0.8rem;
        background-color: palette.$blue;
        color: palette.$offWhite;
        padding: math.div(variables.$base-spacing, 8);
        border-radius: 10%;
    }

    .revealed-at {
        display: block;
    }
}
