@use "sass:color";
@use "sass:math";

@use "../critical/base/palette";
@use "../critical/base/typography";

@use "../critical/base/variables";
$pulsarHeight: 3rem;
@keyframes spin {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


.subject-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 variables.$base-spacing 0;
    border-bottom: 0.125rem dashed color.adjust(palette.$ink, $alpha: -0.5);
    position: relative;
    z-index: 9999;
    .basic-info, .description, .clues {
        padding: math.div(variables.$base-spacing, 4);
    }

    .basic-info {

        .image-wrapper {

            height: 80vw;
            overflow: hidden;
            position: relative;
            border: 1rem solid transparent;
            border-image: url('/dist/images/eroded-frame.svg') 33%;
            margin-bottom: math.div(variables.$base-spacing, 4);

            img {
                transition: opacity 200ms ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
            }

            .placeholder {
                transition: opacity 200ms ease-in-out;
                display: block;
                background-color: palette.$charcoal;
                color: palette.$offWhite;
                font-size: 5rem;
                text-align: center;
                font-family: typography.$displayStack;
                height: 100%;
            }
        }

    }


    .clues-list {
        flex-basis: 50vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    &.revealed {
        .basic-info {
            .image-wrapper {
                .placeholder {
                    opacity: 0;
                }

                img {
                    opacity: 1;
                }
            }
        }
    }

    a.top_link {
        text-decoration: none;
        color: palette.$crimson;
        display: block;

    }

}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .subject-wrapper {
        flex-direction: row;

        .basic-info {
            flex-basis: 33%;
            flex-shrink: 0;
            .image-wrapper {
                height: 20vw;
                img {}
            }
        }
        .clues-list {
            grid-template-columns: 1fr 1fr;
        }
    }
}
