@use "sass:color";
@use "../critical/base/palette";
@use "../critical/base/variables";
@use "../critical/mixins/buttonise";
@use "../critical/base/typography";

.hammer-puzzle {
    display: block;
    width: 40rem;
    height: 40rem;
    margin: 0 auto;
    position: relative;
    font-family: 'DethekStone', sans-serif;
    border: 2rem groove gray;

    &:before {
        content: " ";
        display: block;
        position: absolute;
        left: -1rem;
        top: -1rem;
        bottom: -1rem;
        right: -1rem;
        background: palette.$silverFX;
    }

    button, h2, h3, .btn {
        font-family: 'DethekStone', sans-serif !important;
    }


    .hammer-node {
        @include buttonise.buttonize(palette.$crimson, color.adjust(palette.$crimson, $lightness: 5%), variables.$gemBorderWidth, palette.$white, 'DethekStone');


        &.broken {
            @include buttonise.buttonize(palette.$black, color.adjust(palette.$black, $lightness: 5%), variables.$gemBorderWidth, palette.$white, 'DethekStone');
            font-size: 3rem;
        }

        &.active {
            background-color: palette.$green;

            &:hover {
                background-color: color.adjust(palette.$green, $lightness: 30%);
            }

        }
        width: 7rem;
        height: 7rem;
        display: block;
        font-size: 3rem;
        line-height: 6rem;
        position: absolute;
        transition: all 200ms ease-in-out;

        &.rotated {
            transform: rotate(45deg);
        }

        &#one {
            top: 0;
            left: 0;
        }

        &#two {
            top: 0;
            margin-left: -3.5rem;
            left: 50%;
        }

        &#three {
            top: 0;
            right: 0;
        }

        &#four {
            top: 50%;
            margin-top: -3.5rem;
            right: 0;
        }

        &#five {
            bottom: 0;
            right: 0;
        }

        &#six {
            bottom: 0;
            left: 50%;
            margin-left: -3.5rem;
        }

        &#seven {
            bottom: 0;
            left: 0;
        }

        &#eight {
            margin-top: -3.5rem;
            top: 50%;
            left: 0;
        }
    }


    .hammer-reset-button {
        @include buttonise.buttonize(palette.$wyrdPurple, color.adjust(palette.$wyrdPurple, $lightness: 30%), variables.$gemBorderWidth, palette.$white, 'DethekStone');

    }
    .hammer-translate-button {
        @include buttonise.buttonize(palette.$blue, color.adjust(palette.$blue, $lightness: 30%), variables.$gemBorderWidth, palette.$white, 'DethekStone');
    }

    .success-message {
        background-color: palette.$vellum;
        width: 50rem;
        border: 1rem solid palette.$crimson;
        padding: 2rem;
        text-align: center;
        line-height: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25rem;
        margin-top: -3.5rem;
        z-index: 9999;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.25);
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-in-out;

        h2 {
            margin-bottom: 2rem;
        }

        h3 {
            margin-bottom: 2rem;
        }
    }

    &.success {
        .hammer-node {
            pointer-events: none;
        }

        .success-message {
            opacity: 1;
            pointer-events: all;

            h2 {
                font-size: 1rem;
            }
        }
    }

    .hammer-ops {
        position: absolute;
        top: -2rem;
        left: -30rem;
        width: 30rem;

        .hammer-output {
            display: block;
            width: 20rem;
            background-color: black;
            color: lime;
            height: 15rem;
            overflow: hidden;
            overflow-y: scroll;
            padding: 1rem;
            padding-left: 2rem;
            margin-bottom: 1rem;
            box-shadow: 0 0 1rem lime;
            scrollbar-color: lime black;
            scrollbar-width: thin;
        }
    }

    .hammer-power-wrapper {
        position: absolute;
        top: 6.25rem;
        right: -16rem;
        display: block;
        height: 3.5rem;
        width: 20rem;
        z-index: 999;
        border: 0.25rem solid palette.$crimson;
        transform: rotate(-90deg);


        .hammer-power {
            display: block;
            height: 3rem;
            background-color: transparent;
            position: relative;
            background: none;

            &:after {
                content: " ";
                position: absolute;
                right: 0;
                top: 0;
                height: 3rem;
                width: 0.25rem;
                background-color: lime;
                box-shadow: 0 0 0.25rem color.scale(palette.$green, $alpha: -50%);

            }
            &.overvolt {
                box-shadow: 0 0 1rem red;
            }
        }
    }

    &.translated {

        font-family: 'Crimson Text', sans-serif;
        .hammer-output {
            font-family: monospace;
        }
        .hammer-reset-button {
            font-family: 'Crimson Text', sans-serif !important;

        }
        .hammer-translate-button {
            font-family: 'Crimson Text', sans-serif !important;
        }

        .success-message {
            h2, h3, .btn, button {
                font-family: 'Crimson Text', sans-serif !important;
            }

            h2 {
                font-size: 1rem;
            }


        }
        .hammer-node {

            font-family: 'Crimson Text', sans-serif !important;


            &.broken {
                font-family: 'Crimson Text', sans-serif !important;
                font-size: 3rem;
            }

            &.active {
                background-color: palette.$green;

                &:hover {
                    background-color: color.adjust(palette.$green, $lightness: 30%);
                }

            }
        }
    }
}
