@use '../critical/base/palette';
.lightforge-puzzle {
    padding: 3rem;
    background: palette.$goldFX;
    position: relative;


    div.switches {
        display: flex;
        flex-direction: row;
        .switch-container {
            label {
                font-family: 'DethekStone', sans-serif;
                font-size: 3rem;
            }
        }

        &.lock {
            pointer-events: none;
        }
    }
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        border: 1.5rem outset white;
        mix-blend-mode: soft-light;
        pointer-events: none;
    }

    #message-container {
        background-color: palette.$vellum;
        width: 50rem;
        border: 1rem solid palette.$crimson;
        padding: 2rem;
        text-align: center;
        line-height: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25rem;
        margin-top: -3.5rem;
        z-index: 9999;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.25);
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-in-out;

        &.show {
            pointer-events: all;
            opacity: 1;
        }
    }
}
