@use "sass:color";
@use "../base/palette";
@use "../base/variables";

@mixin buttonize($primaryColor, $hoverColor, $gemBorderWidth, $textColor, $fontFamily: 'Crimson Text')
{
    $gemBorderRadius: 0.125rem;
    position: relative;
    z-index: 1;
    color: $textColor;
    padding: 0.5rem 1rem;
    text-shadow: 0 -1px 0 color.adjust(palette.$gold, $lightness: -40%);
    border: 0;
    border-radius: $gemBorderRadius;
    background-color: $primaryColor;
    transition: background-color 400ms ease-in-out;
    font-family: $fontFamily, sans-serif;
    font-size: 0.9rem;
    font-weight: 800;
    //text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: (variables.$base-spacing / 2);


    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        z-index: -1;
        pointer-events: none;
        background: radial-gradient(at 50% 110%, transparent 50%, color.adjust($primaryColor, $lightness: -10%) 100%);
        border-radius: $gemBorderRadius;

    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        z-index: -1;
        border: $gemBorderWidth outset color.adjust($primaryColor, $lightness: 20%);
        opacity: 0.25;
        pointer-events: none;
        border-radius: $gemBorderRadius;
        background-image: url('../../images/grads.svg');
        background-size: contain;
    }

    &:hover {
        background-color: $hoverColor;
    }

    &[disabled] {
        background-color: desaturate($primaryColor, 90);

        &:after {
            border: $gemBorderWidth outset desaturate(color.adjust($primaryColor, $lightness: 20%), 90);
        }
        &:hover {
            background-color: desaturate($hoverColor, 90);
        }
    }

}
