@mixin goldText($transitionDuration: 500ms) {
    background: repeating-linear-gradient(33deg, #B38728, #FCF6BA, #B38728, #FBF5B7, #B38728);
    background-position: fixed;
    transition: background-position $transitionDuration ease-in-out;
    background-size: 25%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
