@use '../base/palette';

@mixin goldText($transitionDuration: 500ms) {
    background: repeating-linear-gradient(33deg, #B38728 1rem, #edd888 2rem, #fff3da 3rem, #edd888 4rem, #a58d58 5rem);
    background-attachment: scroll;
    transition: background-position $transitionDuration ease-in-out;
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    &:after {
        background: none;
        content: attr(content) / "";
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        text-shadow: 0 0 0.05em transparentize(palette.$ink, 0.5);
    }
}
