@use '../base/palette';
@use '../base/variables';
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(0deg, palette.$black, palette.$grey 51%, palette.$white 52%);
    border-radius: 1.25rem;

    margin: (variables.$base-spacing * 2);
    padding: variables.$base-spacing;

    form {
        flex-direction: row;
    }
    /*
    div.top {
        flex: 1;
        display: flex;
        flex-direction: row;
        width: 100%;


        background-size: cover;
        background-position: 50% 60%;
        a.brand {
            padding-left: 5rem + (variables.$base-spacing * 2);
            flex-shrink: 1;
            flex-grow: 0;
            &:before {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 4rem;
                width: 4rem;
                background-image: url("../../images/myotr-logo.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top left;
                margin: variables.$base-spacing;
            }

        }

        form.search-form {
            margin-left: auto;
            flex-basis: 20%;
            display: flex;
            flex-direction: row;
            border: 1rem solid black;
            border-image: url('../images/eroded-frame-whiteinner-transparent-outer.svg');
            border-image-slice: 25%;
            background-color: transparent;
            margin-right: variables.$base-spacing;
            position: relative;

            input {
                margin-bottom: 0;

                border: none;
            }

        }
    }

    nav.main {
        flex: 1;
        flex-basis: 90%;
        display: flex;
        flex-direction: row;




        a {
            font-family: sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            color: palette.$offWhite;
            text-decoration: none;
            border: none;
            padding: variables.$base-spacing;
            text-shadow: -0.05em -0.05em 0em rgba(0, 0, 0, 0.25), 0.05em 0.05em 0em rgba(255, 255, 255, 0.125);
            &:hover {
                color: palette.$white;
            }

        }
    }



*/
}
