@use '../base/palette';
@use '../base/variables';
@use "../mixins/goldtext";

.gt2{
    h1 {
        background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #fff;
        font-family: 'Playfair Display', serif;
        position: relative;
        text-transform: uppercase;
        font-size: calc(18vw + .5rem);
        margin: 0;
        font-weight: 400;
    }

    h1::after {
        background: none;
        content: attr(data-heading) / "";
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        text-shadow:
            -1px 0 1px #c6bb9f,
            0 1px 1px #c6bb9f,
            5px 5px 10px rgba(0, 0, 0, 0.4),
            -5px -5px 10px rgba(0, 0, 0, 0.4);
    }}
header {
    display: flex;
    flex-direction: row;

    padding: variables.$base-spacing;

    box-shadow: -1px -1px 0m lighten(palette.$grey, 5), 1px 1px 0rem darken(palette.$grey, 5);

    a.brand {
        font-size: 2.5rem;
        font-family: 'Gladius', fancy, serif;
        @include goldtext.goldText();
        background-size: 300%;
        //text-shadow: -0.05em -0.05em 0em rgba(0, 0, 0, 0.25), 0.05em 0.05em 0em rgba(255, 255, 255, 0.125);
        border: none;
        position: relative;
        padding-left: 5rem;

        &:before {
            content: " ";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 4rem;
            width: 4rem;
            background-image: url("../../images/myotr-logo.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top left;
            margin: 0;
        }
    }

    nav {
        display: flex;
        flex: 1;
        flex-direction: row;
        margin-left: variables.$base-spacing;
        a {
            flex: 1;
            border: none;
            font-family: 'Gladius', fancy, serif;
            font-size: 2.5rem;
        }
    }
    form {
        flex-direction: row;
        margin-left: auto;

        input {
            margin-bottom: 0 !important;

            margin-right: variables.$base-spacing;
        }
    }
    /*
    div.top {
        flex: 1;
        display: flex;
        flex-direction: row;
        width: 100%;


        background-size: cover;
        background-position: 50% 60%;
        a.brand {
            padding-left: 5rem + (variables.$base-spacing * 2);
            flex-shrink: 1;
            flex-grow: 0;


        }

        form.search-form {
            margin-left: auto;
            flex-basis: 20%;
            display: flex;
            flex-direction: row;
            border: 1rem solid black;
            border-image: url('../images/eroded-frame-whiteinner-transparent-outer.svg');
            border-image-slice: 25%;
            background-color: transparent;
            margin-right: variables.$base-spacing;
            position: relative;

            input {
                margin-bottom: 0;

                border: none;
            }

        }
    }

    nav.main {
        flex: 1;
        flex-basis: 90%;
        display: flex;
        flex-direction: row;




        a {
            font-family: sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            color: palette.$offWhite;
            text-decoration: none;
            border: none;
            padding: variables.$base-spacing;
            text-shadow: -0.05em -0.05em 0em rgba(0, 0, 0, 0.25), 0.05em 0.05em 0em rgba(255, 255, 255, 0.125);
            &:hover {
                color: palette.$white;
            }

        }
    }



*/
}
