@use '../base/palette';
@use '../base/variables';
@use 'sass:color';
@use 'sass:math';


nav.breadcrumbs {
    display: none;
}

@media (min-width: 1080px) {
    nav.breadcrumbs {
        position: relative;
        border-top: 0.125rem solid transparent;
        border-bottom: 0.125rem solid transparent;
        display: inline;
        font-family: "Pirata", serif;
        padding: 0 (variables.$base-spacing * 2);
        margin: variables.$base-spacing 0;
        > a, > span {

            border: none;
            position: relative;


            &:hover {
                color: color.adjust(palette.$crimson, $lightness: 12.5%);
            }
            &:not(:last-child):after {
                content: "/";
                display: inline;
                margin: 0 math.div(variables.$base-spacing, 2);

            }
        }
    }

}
