@use 'sass:color';
@use 'sass:math';

@use '../base/palette';
@use '../base/typography';
@use '../base/variables';



nav.breadcrumbs {
    display: none;
}

@media (min-width: 1080px) {
    nav.breadcrumbs {
        display: inline;
        font-family: typography.$displayStack;
        opacity :0.8;

        > a, > span {
            color: palette.$ink;
            &:not(:last-child) {
                &:after {
                    content: " / ";
                }
            }

        }
    }

}
