@use 'sass:color';
@use 'sass:math';

@use '../base/palette';
@use '../base/typography';
@use '../base/variables';

.btn, button {
    &:not(.unstyle) {
        border: none;
        display: inline-block;
        width: auto;
        background: palette.$crimson radial-gradient(ellipse at 50% 100%, palette.$crimson, color.adjust(palette.$crimson, $lightness: -25%));
        padding: math.div(variables.$base-spacing, 4);
        color: palette.$offWhite;
        position: relative;
        box-shadow: inset 0 0 2.5rem color.adjust(palette.$crimson, $lightness: 5%);
        transition: box-shadow 250ms ease-in-out;
        font-family: typography.$displayStack;
        font-size: 1em;
        text-shadow: -0.05em -0.05em 0 rgba(0, 0, 0, 0.25), 0.05em 0.05em 0 rgba(0, 0, 0, 0.5);

        &:hover, &:active, &:focus {
            box-shadow: inset 0 0 2.5rem color.adjust(palette.$crimson, $lightness: 25%);
            color: palette.$offWhite
        }

        &:before, &:after {
            content: " ";
            display: block;
            position: absolute;
        }

        &:after {

            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            pointer-events: none;
            background-color: transparent;
            border: 0.5rem outset rgba(255, 255, 255, 0.5);
            mix-blend-mode: hard-light;
            opacity: 0.25;
        }
        &:before {
            background: palette.$goldFX;
            top: -0.1rem;
            left: -0.1rem;
            bottom: -0.1rem;
            right: -0.1rem;
            z-index: -1;
            box-shadow: palette.$baseBoxShadow;
        }
    }

}
