@use 'sass:color';
@use 'sass:math';

@use '../base/palette';
@use '../base/typography';
@use '../base/variables';

@use '../mixins/buttonise';

.btn, button {
    &:not(.unstyle, .sf-toolbar-toggle-button) {
        &.btn-primary {
            @include buttonise.buttonise(palette.$blue, cyan);
        }


        &.btn-secondary {
            @include buttonise.buttonise(palette.$blue, cyan);
        }

        &.btn-tertiary {
            @include buttonise.buttonise(palette.$wyrdPurple, magenta);
        }

        &.btn-danger {
            @include buttonise.buttonise(palette.$crimson, red);
        }

        &.btn-success,
        &[type="submit"]{
            @include buttonise.buttonise(palette.$green, lime);
        }

        &.btn-warning {
            @include buttonise.buttonise(palette.$orange, yellow);
        }

        &.btn-info {
            @include buttonise.buttonise(palette.$stormBlue, cyan);
        }

        &:disabled {
            @include buttonise.buttonise(palette.$grey, palette.$grey);
            color: color.mix(palette.$grey, palette.$offWhite);
            &:before {
                display: none !important;
            }
        }
    }
}

table {
    .btn, button {
        &:not(.unstyle) {
            margin: 0;
            width: 100%;
            &:before {
                box-shadow: none;
            }

        }
    }

    .btn-group {
        &:before {
            box-shadow: none;
        }
    }
}

.btn-group {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    .btn, button {
        margin-bottom: math.div(variables.$base-spacing, 4);
        flex: 1;
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .btn-group {
        flex-direction: row;
    }

    .btn, button {

        &:not(:last-child) {
            margin-right: math.div(variables.$base-spacing, 4);
        }
    }
}
