@use '../base/variables' as variables;
@use '../base/palette' as palette;
@use 'sass:math';
@use "../mixins/buttonise";
@use "../mixins/inputs";

form:not(.unstyle) {
    display: flex;
    flex-direction: column;

    > div:not(.row, .col) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 2rem 0;
        > div {
            margin-bottom: variables.$base-spacing;
            display: block;
        }
    }

    @include inputs.styleInputs();

    button, submit {
        @include buttonise.buttonize(palette.$crimson, );
    }
}

