@use 'sass:math';

@use '../base/variables';
@use '../base/palette';
@use "../mixins/inputs";

form:not(.unstyle) {
    display: flex;
    flex-direction: column;

    div.form-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 2rem 0;
        > div {
            margin-bottom: math.div(variables.$base-spacing, 2);
            display: block;
        }
    }

    @include inputs.styleInputs();


}

