@use 'sass:math';

@use '../base/variables';
@use '../base/palette';
@use "../mixins/inputs";

form:not(.unstyle) {
    display: flex;
    flex-direction: column;

    div.form-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0  math.div(variables.$base-spacing, 4) 0;

    }

    @include inputs.styleInputs();


}

