@use '../base/palette';

.heading-element {
    position: relative;
    color: palette.$ink;
    &:before {
        content: attr(data-headingcontent);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: palette.$goldFX;
        color: transparent;
        background-clip: text;
        z-index: -1;
    }
}

