@use '../base/variables';

img {
    transition: opacity 200ms ease-in-out;
    opacity: 0;
}

body.loaded {
    img {
        opacity: 1;

        &.thumbnail {
            height: 10vh;
        }
        &.thumbnail-xs {
            width: 10vh;
        }
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    body.loaded {
        img {
            &.portrait {
                max-height: initial;
                max-width: 25vw;
            }
        }
    }
}
