@use "sass:color";

@use '../base/palette';
a {
    color: palette.$crimson;
    font-weight: bold;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    transition-property: color, border-color;
    border-bottom: 0.125em solid transparent;
    display: inline-block;
    width: auto;


    &:visited {
        color: palette.$wyrdPurple;
        border-bottom-color: palette.$wyrdPurple;
    }

    &:hover {
        color: color.adjust(palette.$crimson, $saturation: 20%, $space: hsl);
        border-bottom-color: color.adjust(palette.$crimson, $saturation: 20%, $space: hsl);
    }
}
