@use "sass:color";

@use '../base/palette';
a {
    color: palette.$crimson;
    font-weight: bold;
    text-decoration: none;
    transition: color 200ms ease-in-out;

    &:visited {
        color: color.adjust(palette.$crimson, $lightness: -1%);
    }

    &:hover, &:focus, &:active {
        color: color.adjust(palette.$crimson, $saturation: 20%, $lightness: 15%, $space: hsl);
    }
}
