@use 'sass:color';
@use 'sass:math';

@use '../base/palette';
@use '../base/variables';
@use '../base/typography';

dl {
    margin :0;

    dd, dt {
        padding: 0;
    }
}

$stepIconHeight: 5vh;

ul.tabular-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: variables.$baseBorderWidth solid transparent;
    border-image: palette.$goldFX 33%;
    margin-bottom: math.div(variables.$base-spacing, 2);
    box-shadow: palette.$baseBoxShadow;

    li {
        border-bottom: variables.$baseBorderWidth solid transparent;
        border-image: palette.$goldFX 33%;
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        text-indent: initial;
        margin: 0;

        background: palette.$whiteGradient;

        &:last-of-type {
            border-bottom: none;
        }

        > * {
            padding: math.div(variables.$base-spacing, 8);
            &:first-child {
                background: palette.$crimsonGradient;
                color: palette.$offWhite
            }
            flex: 1;
        }
    }
}

ol.step-list {
    display: flex;
    flex-direction: row;

    counter-reset: steplist-counter;
    li {

        flex: 1;
        counter-increment: steplist-counter;
        text-align: center;
        padding-top: ($stepIconHeight + 1vh);
        position: relative;
        text-indent: 0;

        &:before {
            font-family: typography.$displayStack;
            content: counter(steplist-counter);
            display: block;
            height: $stepIconHeight;
            line-height: $stepIconHeight;
            text-align: center;
            width: $stepIconHeight;
            font-size: 5vh;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: 0 - math.div($stepIconHeight, 2);
            background: palette.$charcoal linear-gradient(-33deg, color.adjust(palette.$charcoal, $lightness: +25%), palette.$charcoal);
            color: palette.$white;
            border-radius: 50%;
            box-shadow: palette.$baseBoxShadow;
        }

        &.active {
            &:before {
                background: palette.$crimson linear-gradient(33deg, color.adjust(palette.$crimson, $lightness: +10%), palette.$crimson);

            }
        }
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    ul.tabular-list {
        li {
            flex-direction: row;
            > * {
                flex-basis: 33%;
            }
        }
    }
}
