@use 'sass:color';
@use 'sass:math';

@use '../base/variables';
@use '../base/palette';


nav.lozenges {
    display: flex;
    flex-direction: row;
    margin: math.div(variables.$base-spacing, 2) 0;

    a {
        padding: math.div(variables.$base-spacing, 4);
        margin-right: math.div(variables.$base-spacing, 4);
        color: palette.$ink;
        font-weight: 800;
        font-size: 1rem;

        flex: 1;

        text-align: center;
        position: relative;
        z-index: 0;
        transition: all 200ms ease-in-out;
        transition-property: background-color, color;
        border: none;

        &:hover {
            background-color: palette.$crimson;
            color: palette.$white;

        }
        &:before {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            border: 0.25rem solid transparent;
            border-image: url('/dist/images/eroded-frame.svg') 33%;
        }


        &:last-child {
            margin-right: 0;
        }
    }

    &.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: math.div(variables.$base-spacing, 2);
        column-gap: math.div(variables.$base-spacing, 2);

        a {
            margin: 0;

        }

    }
}

nav.secondary {
    display: flex;
    flex-direction: column;
    a, span {
        padding: math.div(variables.$base-spacing, 4);
        position: relative;

        &:not(:last-child) {

        }
    }
}

nav.pagination {
    display: flex;
    flex-direction: row;
    a {
        display: inline;

        &:not(:last-child) {
            &:after {
                content: "|";
                display: inline;
                margin: 0 1rem;
                color: palette.$ink;
            }
        }
    }
}

nav.breadcrumbs {
    display: none;
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    nav.secondary {

        flex-direction: row;
        margin-bottom: math.div(variables.$base-spacing, 4);
        a, span, em {
            padding: 0 math.div(variables.$base-spacing, 4);
            font-weight: bold;

            &.active {
                text-decoration: underline;
            }
        }
    }

    td {
        nav.secondary {
            margin-bottom: 0;
        }
    }

    nav.breadcrumbs {
        display: flex;
        flex-direction: row;
        background: palette.$whiteGradient;
        box-shadow: palette.$baseBoxShadow;
        border-radius: variables.$baseBorderRadius;
        margin: 0 0 math.div(variables.$base-spacing, 2) 0;
        padding: 0 math.div(variables.$base-spacing, 4);

        a, > span {
            flex: 1;
            padding: math.div(variables.$base-spacing, 8);
            flex-grow: 0;
            line-break: strict;
            white-space: nowrap;
            position: relative;

            &:not(:last-child) {
                &:after {
                    content: "/";
                    display: inline;
                    margin: 0 1rem;
                    pointer-events: none;
                    color: palette.$ink;
                    opacity: 0.5;
                }
            }
        }
    }
}
