@use '../base/variables' as variables;
hr {
    border: none;
    width: 100%;
    height: 0.125rem;
    background-image: url("/dist/images/eroded-line.svg");
    background-size: cover;
    margin: variables.$base-spacing 0;
}
