@use 'sass:math';

@use '../base/variables';
@use '../base/palette';

hr {
    border: none;
    width: 100%;
    height: 0.125rem;
    display: block;
    background: palette.$dividerGradient;
    margin: math.div(variables.$base-spacing, 2) 0;

    &.subtle {
        height: 0.05rem;
    }

    &.hidden {
        opacity :0;
    }
}
