@use 'sass:math';

@use '../base/variables';
@use '../base/palette';

hr {
    border: none;
    width: 100%;
    height: variables.$baseBorderWidth;
    display: block;
    background: palette.$dividerGradient;
    margin: math.div(variables.$base-spacing, 2) 0;

    &.subtle {
        height: math.div(variables.$baseBorderWidth, 2);
    }

    &.hidden {
        opacity :0;
    }
}
