@use 'sass:color';
@use 'sass:math';

@use "../mixins/inputs";
@use '../base/palette';
@use '../base/variables';

table.table {
    border-collapse: collapse;
    border: 0.125rem solid palette.$wyrdPurple;
    text-align: left;
    transform: rotate(-0.125deg);
    margin-bottom: math.div(variables.$base-spacing, 2);

    tr, td, th {
        border: 0.125rem solid palette.$wyrdPurple;
        padding: math.div(variables.$base-spacing, 4);
        @include inputs.styleInputs();

    }

    tr {
        background-color: palette.$white;

        &:nth-child(even) {
            background-color: color.mix(palette.$white, palette.$vellum, 66%);
        }
    }

    th {
        background-color: palette.$wyrdPurple;
        color: palette.$white;
    }

    tfoot {
        tr {
            background-color: palette.$ink;
            color: palette.$white;
        }

    }



}
