@use 'sass:math';

@use '../base/palette';
@use '../base/variables';

table {
    border: 0.1rem solid palette.$white;
    text-align: left;
    thead, tbody, tfoot, {
        tr, td, th {
            border: 0.1rem solid palette.$white;
        }
        tr {
            td, th {
                padding: math.div(variables.$base-spacing, 2);
            }

            th {
                color: palette.$stormBlue;
                background-color: palette.$white;
            }
        }
    }


}
