{% extends 'base/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row halves">
        <div class="col">
            {% embed 'security/partials/login_form.html.twig' %}{% endembed %}
        </div>
        <div class="col">
            <h2>Welcome back!</h2>
            <p>{{ siteName }} is a site to share RPG puzzles for online Games Masters. Have fun!</p>
        </div>
    </div>
{% endblock %}
