@use 'sass:math';
@use 'sass:color';

@use '../base/variables';
@use '../base/palette';

.accordion-list {

    article {
        padding: 0;
        margin: 0;
        margin-bottom: math.div(variables.$base-spacing, 2);
        box-shadow: palette.$baseBoxShadow;

        .accordion-heading,
        .accordion-content {
            display: block;
            padding: math.div(variables.$base-spacing, 4);
        }
        .accordion-heading {
            background: palette.$brownGradient;
            color: palette.$white;
            position: relative;
            margin-bottom: 0;
            cursor: pointer;

            &:after {
                content: "^";
                display: block;
                position: absolute;
                height: 100%;
                line-height: 5rem;
                top: 0;
                right: 0;
                font-size: 3rem;
                text-align: right;
                padding: 0 0.25em;
                transform: rotate(180deg);
                transition: transform 200ms ease-in-out;

            }
        }

        .accordion-body {
            max-height: 0;
            overflow: hidden;
            transition: max-height 200ms ease-in-out;
            background: palette.$offWhite linear-gradient(45deg, palette.$offWhite, color.adjust(palette.$offWhite, $lightness: -5%, $saturation: -100%));


            .accordion-content {
                &.accordion-columns {
                    display: flex;
                    flex-direction: column;

                    .accordion-column {
                        flex: 1;

                        .btn {
                            margin-bottom: 0;
                        }

                        &.secondary {
                            margin-bottom: 0;
                            justify-content: end;
                        }

                        .btn-group {
                            flex-direction: column;

                            .btn {
                                margin-right: 0;
                                margin-bottom: math.div(variables.$base-spacing, 4);
                            }
                        }
                    }
                }
            }
            .accordion-footer {
                padding: math.div(variables.$base-spacing, 4);
            }
        }

        &.open {
            .accordion-body {
                max-height: 100vh;
            }
            .accordion-heading {
                &:after {
                    transform: rotate(0deg);
                }
            }
        }

    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .accordion-list {
        article {
            .accordion-body {
                .accordion-content {
                    &.accordion-columns {
                        flex-direction: row;

                        .accordion-column {

                            padding: 0 math.div(variables.$base-spacing, 4);
                        }
                    }
                }
            }
        }
    }
}


