@use 'sass:color';
@use 'sass:math';

@use '../base/palette' as palette;
@use '../base/variables' as variables;

.flash-container {
    position: absolute;
    z-index: 10000;
    margin: 0 math.div((100 - variables.$desktopMaxViewportWidth), 2);
    padding: 0;
    display: block;
    width: variables.$desktopMaxViewportWidth;

}

span.flash {
    display: block;
    background-color: palette.$offWhite;
    padding: math.div(variables.$base-spacing, 4);
    margin-bottom: variables.$base-spacing;
    border-radius: 0.25rem;
    border: variables.$outlineWidth solid palette.$green;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;

    &.show {
        opacity: 1;
        pointer-events: all;
    }
    button {
        position: absolute;
        top:  0;
        right: 0;
        border: none;
        box-shadow: none;
        background-color: transparent;
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
        text-align:center;
        font-size: 1.5em;
    }

    &.flash-error {
        background-color: palette.$pink;
        border-color: palette.$red;

    }

    &.flash-warning {
        background-color: palette.$orange;
        border-color: color.adjust(palette.$orange, $saturation: +20%, $lightness: -10%);
    }
}
