@use '../base/variables';

.avatar-wrapper {
    width: 50vw;
    height: 50vw;
    margin: 0 auto;

    img.avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: (variables.$baseBorderWidth * 4) solid transparent;
        border-image: url("/dist/images/eroded-frame.svg") 33.333333%;
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .avatar-wrapper {
        width: 20vw;
        height: 20vw;
    }
}
