@use 'sass:color';
@use 'sass:math';

@use '../base/variables';
@use '../base/palette';

.badge {
    padding: math.div(variables.$base-spacing, 16);
    background-color: palette.$grey;
    color: palette.$offWhite;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0.75rem;
    box-shadow: palette.$baseBoxShadow;
    border-radius: 0.125rem;

    &:not(:last-child) {
        margin-right: math.div(variables.$base-spacing, 16);
    }
}
