@use 'sass:math';
@use 'sass:color';

@use '../base/palette';
@use '../base/variables';

.card {

    padding: 0;
    box-shadow: palette.$baseBoxShadow;
    border-radius: 0.125rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: palette.$offWhite linear-gradient(45deg, palette.$offWhite, color.adjust(palette.$offWhite, $lightness: -5%, $saturation: -100%));

    .card-title, .card-body, .card-footer, .card-metadata, .card-section {
        padding: math.div(variables.$base-spacing, 2);
        position: relative;
    }

    .card-title, .card-body {

    }

    .card-metadata {
        padding-bottom: 0;
    }

    .card-title {
        margin-bottom: 0;
    }

    .card-body {
        background: palette.$offWhite linear-gradient(45deg, palette.$offWhite, color.adjust(palette.$offWhite, $lightness: -5%, $saturation: -100%));

    }

    .card-section {
        background: palette.$vellum linear-gradient(45deg, palette.$vellum, color.adjust(palette.$vellum, $lightness: -5%, $saturation: -10%));
        border-top: variables.$baseBorderWidth solid palette.$ink;
        position: relative;
        z-index: 1;
        flex-grow: 2;
        h1, h2, h3, h4, h5, h6 {
            color: palette.$ink;
        }
    }

    .card-title,
    .card-footer {
        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: variables.$baseBorderWidth;
            background: palette.$goldFX;
            background-size: 200%;
            background-attachment: fixed;
            position: absolute;
        }
    }

    img.card-backer {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        z-index: 0;
    }

    img.card-backer + .card-title {
        background-color: transparent;
        color: palette.$offWhite;
        padding-top: 10rem;
    }
    img.card-backer + .card-title +.card-body {
        background: palette.$offWhite linear-gradient(45deg, palette.$offWhite, color.adjust(palette.$offWhite, $lightness: -5%, $saturation: -100%));
    }

    .card-title {
        &:after {
            bottom: 0;
            left: 0;
        }
    }

    .card-spacer {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        flex-grow: 2;
    }
    .card-footer {
        background: palette.$charcoalGradient;
        &:after {
            top: 0;
            left: 0
        }

        .btn {
            margin-bottom: 0;
        }
    }

    .accordion-list.card-accordion-list {
        article {
            margin-bottom: 0;
            position: relative;
            z-index: 9999;
        }

    }
}
