@use 'sass:math';
@use 'sass:color';

@use '../base/palette';
@use '../base/variables';

.card {

    padding: 0;
    box-shadow: palette.$baseBoxShadow;
    border-radius: 0.125rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background: palette.$offWhite linear-gradient(45deg, palette.$offWhite, color.adjust(palette.$offWhite, $lightness: -5%, $saturation: -100%));
    .card-title, .card-body, .card-footer {
        padding: math.div(variables.$base-spacing, 2);
        position: relative;
    }

    .card-title, .card-body {

    }

    .card-title {
        margin-bottom: 0;
    }

    .card-body {

    }

    .card-title,
    .card-footer {
        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 0.075rem;
            background: palette.$goldFX;
            background-size: 200%;
            background-attachment: fixed;
            position: absolute;

        }
    }

    img.card-backer {
        position: absolute;
        top: 0;
        left: 0;
    }

    img.card-backer + .card-title {
        background-color: transparent;
        color: palette.$offWhite;
        padding-top: 10rem;
    }
    img.card-backer + .card-title +.card-body {
        background: palette.$offWhite linear-gradient(45deg, palette.$offWhite, color.adjust(palette.$offWhite, $lightness: -5%, $saturation: -100%));
    }

    .card-title {
        &:after {
            bottom: 0;
            left: 0;
        }
    }

    .card-footer {
        background: palette.$charcoal linear-gradient(45deg, color.adjust(palette.$charcoal, $lightness: +25%), palette.$charcoal);
        &:after {
            top: 0;
            left: 0
        }

    }
}
