@use 'sass:math';

@use '../base/palette';
@use '../base/variables';

.cookie-notice {
    padding: math.div(variables.$base-spacing, 4);
    position: fixed;
    bottom: 0;
    background-color: palette.$yellow;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: palette.$baseBoxShadow;
    .btn {
        &:not(:last-child) {
            margin-bottom: math.div(variables.$base-spacing, 4);
        }
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .cookie-notice {
        flex-direction: row;
        .btn {
            margin-left: variables.$base-spacing;
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
}
