@use "sass:color";
@use "sass:math";

@use "../base/variables";
@use "../base/palette";
@use "../base/typography";

$dropcap-scale: 5em;


@media only screen and (min-width: 1080px) {

    .dc {
        display: block;
        float: left;
        height: $dropcap-scale;
        width: $dropcap-scale;
        font-family: typography.$displayStack;
        line-height: $dropcap-scale;
        text-align: center;
        margin-right: math.div(variables.$base-spacing, 4);
        margin-bottom: math.div(variables.$base-spacing, 4);
        margin-top: 0.5rem;
        box-shadow: variables.$baseBoxShadow;
        background: palette.$goldFX;
        background-size: 10%;
        background-attachment: fixed;
        color: transparent;
        text-shadow: none;
        position: relative;

        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        @each $letter in variables.$alphabet {
            &.dc-#{$letter} {
                &:after {
                    background-image: url("../images/drop-caps/william-morris-letter-#{$letter}.svg");
                }

            }
        }
    }
}
