@use 'sass:color';
@use 'sass:math';

@use '../base/palette';
@use '../base/typography';
@use '../base/variables';

$feat-height: 5rem;
$feat-height-sm: 2rem;

.feat-icon {
    text-align: center;
    font-size: $feat-height - 2rem;
    width: $feat-height;
    height: $feat-height;
    line-height: $feat-height + 1rem;
    background: palette.$crimsonGradient;
    margin: 0 auto;
    position: relative;
    box-shadow: palette.$baseBoxShadow;
    border: 0.2rem solid transparent;
    border-image: palette.$goldFX 33%;

    &:before {
        content: " ";
        display: block;
        border: math.div($feat-height, 10) outset white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        mix-blend-mode: soft-light;
    }

    i {
        position: relative;
        background: palette.$offWhite;
        background-size: $feat-height * 2;
        background-clip: text;
        color: transparent;
        z-index: 2;
    }

    &.feat-common {
        i {
            background: palette.$copperFx;
            background-clip: text;
        }
    }

    &.feat-uncommon {
        i {
            background: palette.$silverFX;
            background-clip: text;
        }
    }

    &.feat-rare {
        .feat-icon {
            i {
                background: palette.$goldFX;
                background-clip: text;
            }
        }
    }

    &.feat-epic {
        i {
            background: palette.$goldFX;
            background-clip: text;
        }
    }

    &.feat-legendary {
        i {
            background: linear-gradient(33deg, cyan, magenta);
            background-size: 400%;
            animation: gradient 5s ease infinite;
            background-clip: text;
        }
    }

    &.sm {
        font-size: $feat-height-sm - 1rem;
        width: $feat-height-sm;
        height: $feat-height-sm;
        line-height: $feat-height-sm ;
        border: 0.1rem solid transparent;
        border-image: palette.$goldFX 33%;


        &:before {
            border: math.div($feat-height-sm, 7.5) outset white;
        }
        i {
            background-size: $feat-height-sm * 2;
        }
    }

    .feat-description-popover {
        opacity: 0;
        pointer-events: none;
        transition: opacity 200ms ease-in-out;
        background: palette.$charcoalGradient;
        position: absolute;
        top: 110%;
        width: 90vw;
        margin-left: -45vw;
        left: 0;
        font-size: 1rem;
        color: palette.$offWhite;
        padding: math.div(variables.$base-spacing, 4);
        box-shadow: palette.$baseBoxShadow;
        border-radius: variables.$baseBorderRadius;
        line-height: initial;
        z-index: 99999;
        border: 0.1rem solid transparent;
        border-image: palette.$goldFX 33%;

        strong {
            font-family: typography.$displayStack;
        }
    }

    &.show-popover {
        .feat-description-popover {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.feat-legend {

    text-align: center;
    padding: math.div(variables.$base-spacing, 4);
    background-color: palette.$offWhite;
    margin: math.div(variables.$base-spacing, 4);
    border-radius: variables.$baseBorderRadius;
    box-shadow: palette.$baseBoxShadow;
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .feat-icon {

        .feat-description-popover {
            width: 10vw;
            margin-left: -5vw;
            top: 125%;
        }
    }
}
