@use '../base/palette';

.frame {
    position: relative;
    padding: 10rem !important;
    margin-top: 5rem;
    &:before {

        position: absolute;
        content: " ";
        display: block;

        z-index: -1;
        top: -2.5rem;
        left: -2.5rem;
        right: -2.5rem;
        bottom: -2.5rem;
        background: palette.$goldFX;
        mask-image: url('../../../images/VintageFrame18.svg');
        mask-size: contain;

    }
}
