@use "sass:color";
@use "sass:math";

@use "../base/variables";
@use "../base/palette";

.multiadd-wrapper {
    flex: 1;
    flex-direction: column;

    .multiadd-row {
        padding: math.div(variables.$base-spacing, 4);
        background-color: palette.$offWhite;
        margin-bottom: math.div(variables.$base-spacing, 2);
        box-shadow: palette.$baseBoxShadow;
        border-radius: 0.25rem;
    }
}
