@use 'sass:math';

@use '../base/palette';
@use '../base/variables';

body {
    position: relative;
}
#overlay-container {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;

    .overlay {
        width: 80%;
        height: 80%;
        background-color: palette.$offWhite;
        position: absolute;
        top: 10%;
        left: 10%;
        border-radius: variables.$baseBorderRadius;
        box-shadow: palette.$baseBoxShadow;

        .overlay-header {
            display: flex;
            flex-direction: row;
            padding: math.div(variables.$base-spacing, 4);
            border-bottom: variables.$baseBorderWidth solid palette.$grey;

            .overlay-title {
                flex-basis: 90%;
            }

            button.overlay-close {
                flex-basis: 10%;
                flex-grow: 0;
                flex-shrink: 2;
                border:none;
                box-shadow: none;
                background: transparent;
                text-shadow: none;
                color: transparent;
                position: relative;

                &:before {
                    display: none;

                }
                &:after {
                    content: "X";
                    display: inline;
                    color: palette.$ink;
                }
            }
        }
    }

}
