@use "../base/palette";
@use '../base/variables';

.panel {
    align-self: stretch;
    justify-content: stretch;
    background: palette.$goldFX;
    box-shadow: variables.$baseBoxShadow;
    padding: 0;
    position: relative;
    border: 0.125rem solid transparent;
    min-height: 50vh;

    &.rounded {
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .panel-heading {
        font-size: 1.25rem;
        padding: variables.$base-spacing;
        position: relative;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
        color: palette.$white;
    }

    .panel-backer {
        position: absolute;
        top: -2.5%;
        left: -2.5%;
        z-index: 0;
        width: 105%;


    }

    .panel-body {
        padding: variables.$base-spacing;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
        padding-top: 2rem;
        color: palette.$white;
        width: 100%;

    }
}

.paper {


}
