@use "../base/palette";
@use '../base/variables';
@use 'sass:color';

.panel {
    align-self: stretch;
    justify-content: stretch;
    background: palette.$goldFX;
    background-attachment: fixed;
    box-shadow: variables.$baseBoxShadow;
    position: relative;
    border: 0.1rem solid transparent;

    flex: 1;
    display: flex;
    flex-direction: column;

    &:before {
        position: absolute;
        content: " ";
        background: linear-gradient(to top, color.adjust(palette.$vellum, $lightness: -10%), palette.$vellum );
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }


    .panel-heading {
        flex: 1;
        font-size: 1.25rem;
        padding: variables.$base-spacing;
        position: relative;
        z-index: 1;
        flex-grow: 0;

    }

    img.panel-backer {
        flex: 1;
        position: absolute;
        top: 0;
        z-index: 0;
        width: initial;
    }

    .panel-body {
        padding: 0 variables.$base-spacing variables.$base-spacing variables.$base-spacing;
        position: relative;
        z-index: 1;
        width: 100%;

    }
}

.paper {


}
