@use "../base/palette";
@use '../base/variables';

.panel {
    align-self: stretch;
    justify-content: stretch;
    background: palette.$goldFX;
    box-shadow: variables.$baseBoxShadow;
    padding: 0;
    position: relative;
    border: 0.125rem solid transparent;
    flex: 1;
    display: flex;
    flex-direction: column;


    &.rounded {
        border-radius: 0.25rem;
        overflow: hidden;
    }

    .panel-heading {
        flex: 1;
        font-size: 1.25rem;
        padding: variables.$base-spacing;
        position: relative;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
        color: palette.$white;
    }

    img.panel-backer {
        flex: 1;
        position: absolute;
        top: 0;
        z-index: 0;
        width: initial;
    }

    .panel-body {
        min-height: 10vh;
        padding: variables.$base-spacing;
        margin-top: 25vh;
        position: relative;
        z-index: 1;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
        padding-top: 2rem;
        color: palette.$white;
        width: 100%;
    }
}

.paper {


}
