@use "sass:color";
@use "sass:math";
@use "../base/variables";
@use "../base/palette";

progress-bar {
    border: 2px solid red;
    min-height: 1rem;
    margin: 1rem 0;
    border: (variables.$gemBorderWidth * 0.5) solid palette.$wyrdPurple;
    padding: 0.125rem;

    span {
        height: 100%;
        display: block;
        background-color: palette.$wyrdPurple;
        position: relative;

        &:after {
            content: "";
            display: block;
            height: 1rem;
            width: 100%;
            background-color: white;
            opacity: 0.05;
        }
    }
}
