@use 'sass:math';
@use 'sass:color';

@use '../base/variables';
@use '../base/palette';

$slideshowHeight: 40vh;

.slideshow {
    position: relative;
    min-height: $slideshowHeight;
    border-radius: variables.$baseBorderRadius;
    padding: variables.$outlineWidth;
    overflow: hidden;
    background: palette.$goldFX;
    box-shadow: palette.$baseBoxShadow;

    ul.slideshow-slides {
        background: linear-gradient(to bottom, palette.$charcoal, palette.$black);
        height: $slideshowHeight;
        margin: 0;
        padding: 0;
        position: relative;
        border-radius: variables.$baseBorderRadius;
        overflow: hidden;

        > li {
            overflow: hidden;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: $slideshowHeight;
            z-index: 1;
            transition: opacity 0.5s ease-in-out;
            opacity: 0;
            pointer-events: none;
            box-sizing: border-box;
            text-indent: 0;

            &.active {
                opacity: 1;
                pointer-events: all;
                z-index: 2;
            }

            img.slide-backer {
                opacity: 1;
                width: 100%;
                height: auto;
                max-height: initial;
                max-width: initial;
            }

            .slide-body {
                padding: math.div(variables.$base-spacing, 1.5);

                position: absolute;
                bottom: 0;
                z-index: 1;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
                padding-top: 2rem;
                color: palette.$white;
                width: 100%;
            }

            .slide-heading {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: variables.$base-spacing;
                flex: 1;
                font-size: 1.25rem;
                z-index: 1;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
                color: palette.$white;
            }

            .slideshow-cta {
                margin-top: variables.$base-spacing;

                a {
                    margin: 0;
                }
            }
        }

    }


    nav.slideshow-pager {
        position: absolute;
        top: 0;
        right: 0;
        padding: math.div(variables.$base-spacing, 2);
        z-index: 999;
        display: flex;
        flex-direction: row;

        a {
            color: transparent;
            text-shadow: none;
            height: 1rem;
            background: palette.$charcoal radial-gradient(circle at 50% 100%, color.adjust(palette.$charcoal, $lightness: +10%), palette.$charcoal);
            width: 1rem;
            margin-right: math.div(variables.$base-spacing, 4);
            cursor: pointer;
            position: relative;

            &:before, &:after {
                content: " ";
                display: block;
                position: absolute;
            }
            &:before {
                background: palette.$goldFX;
                top: -0.05rem;
                left: -0.05rem;
                bottom: -0.05rem;
                right: -0.05rem;
                z-index: -1;
            }
            &:after {
                border: variables.$outlineWidth outset rgba(255, 255, 255, 0.5);
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                mix-blend-mode: soft-light;
            }

            &.active {
                background: palette.$green radial-gradient(circle at 50% 100%, palette.$green, color.adjust(palette.$green, $lightness: -10%));
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
