@use '../base/variables';
@use '../base/palette';
@use 'sass:math';
$slideshowHeight: 33vh;

.slideshow {
    position: relative;
    min-height: $slideshowHeight;

    ul.slideshow-slides {
        background: linear-gradient(to bottom, palette.$charcoal, palette.$black);
        height: $slideshowHeight;

        > li {

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-height: $slideshowHeight;
            z-index: 1;

            transition: opacity 0.5s ease-in-out;
            opacity: 0;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
                z-index: 2;
            }

            img.slide-backer {
                opacity: 1;

                width: 100%;
            }

            .slide-body {
                padding: variables.$base-spacing * 1.5;
                font-size: variables.$base-spacing * 1.5;
                position: absolute;
                bottom: 0;
                z-index: 1;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
                padding-top: 2rem;
                color: palette.$white;
                width: 100%;
            }

            .slide-heading {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: variables.$base-spacing;
                flex: 1;
                font-size: 1.25rem;
                z-index: 1;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 75%, rgba(0, 0, 0, 0) 100%);
                color: palette.$white;
            }
        }

    }


    nav.slideshow-pager {
        position: absolute;
        top: 0;
        right: 0;
        padding: variables.$base-spacing;

        z-index: 999;
        display: flex;
        flex-direction: row;

        a {
            color: transparent;
            text-shadow: none;
            height: 1rem;
            background-color: palette.$white;
            width: 1rem;
            margin-right: variables.$base-spacing;
            cursor: pointer;
            border: none;

            &.active {
                background-color: palette.$crimson;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
