@use "sass:color";

@use '../base/palette';

.switch-container {
    display: block;
    width: 3rem;
    height: 5rem;
    background-color: palette.$charcoal;
    box-shadow: inset 0 0 1rem black;
    position: relative;
    border: 0.2rem solid color.adjust(palette.$gold, $lightness: -15%, $space: hsl);
    border-radius: 1.5rem;
    padding-top: 4rem;

    margin: 1vw;
    margin-top: 1.5vw;
    label {
        position: absolute;
        top: 0;
        margin-top: -7rem;
        margin-left: -1.5rem;
        line-height: 6rem;
        left: 0;
        width: 6rem;
        height: 6rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        background: palette.$silverFX;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 0.5rem outset white;
            mix-blend-mode: soft-light;
            width: 100%;
            height: 100%;
        }
    }


    input[type="checkbox"].switch {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }

    .toggle {
        border: 0.2rem solid color.adjust(palette.$gold, $lightness: -15%, $space: hsl);
        height: 2rem;
        width: 2rem;
        display: block;
        position: absolute;
        bottom : 0.3rem;
        left: 0.3rem;
        background: radial-gradient(circle at 50% 50%, palette.$crimson, color.adjust(palette.$crimson, $lightness: -10%, $space: hsl));
        border-radius: 100%;
        pointer-events: none;
        transition: all 0.2s ease-in-out;
        transition-property: transform, background, box-shadow;
        box-shadow: 0 0 1rem transparent;

        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 1rem;
            height: 1rem;
            top: 0.1rem;
            left: 0.1rem;
            background: radial-gradient(circle at 33% 33%, white, transparent);
            mix-blend-mode: soft-light;
            border-radius: 100%;
        }
    }

    input[type="checkbox"].switch:checked ~ .toggle {
        transform: translateY(-2rem);
        background: radial-gradient(circle at 50% 50%, palette.$green, color.adjust(palette.$green, $lightness: -10%, $space: hsl));
    }
}

