@use 'sass:color';
@use 'sass:math';

@use '../base/variables';
@use '../base/palette';

.tabs-element {
    margin: math.div(variables.$base-spacing, 4);

    nav.tab-headings {
        display: flex;
        flex-direction: column;
        background: palette.$charcoal;
        a {
            padding: math.div(variables.$base-spacing, 4);
            color: palette.$offWhite;

            &.active {
                color: palette.$offWhite;
                background-color: palette.$crimson;
            }
        }
    }

    div.tab-content-container {
        position: relative;
        .hide-sm {
            display: none;
        }
        .tab-content {
            padding: math.div(variables.$base-spacing, 4);
            background-color: palette.$offWhite;
            opacity: 0;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }

    }
    &.loaded {
        div.tab-content-container {
            .tab-content {
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .tabs-element {
        nav.tab-headings {
            flex-direction: row;
            background-color: transparent;
            a {
                box-shadow: palette.$baseBoxShadow;
                margin-right: math.div(variables.$base-spacing, 4);
                background-color: color.mix(palette.$offWhite, palette.$vellum);
                position: relative;
                color: palette.$ink;

                &:after {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 1rem;
                    background-color: color.mix(palette.$offWhite, palette.$vellum);
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    z-index: 9997;
                }

                &.active {

                    color: palette.$ink;
                    background-color: palette.$offWhite;

                    &:after {
                        background-color: palette.$offWhite;
                        z-index: 9999;
                    }

                }
            }
        }
        div.tab-content-container {
            .hide-sm {
                display: initial;
            }
            .tab-content {
                z-index: 9998;
                box-shadow: palette.$baseBoxShadow;
            }

        }

    }
}
