@use 'sass:color';
@use 'sass:math';

@use '../base/variables';
@use '../base/palette';

.tabs-element {
    margin: math.div(variables.$base-spacing, 4);

    nav.tab-headings {
        display: flex;
        flex-direction: column;
        a {
            background-color: palette.$vellum;
            padding: math.div(variables.$base-spacing, 4);

            &.active {
                background-color: palette.$offWhite;
            }
        }
    }

    div.tab-content-container {
        position: relative;

        .tab-content {
            padding: math.div(variables.$base-spacing, 4);
            background-color: palette.$offWhite;
            opacity: 0;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }

    }
    &.loaded {
        div.tab-content-container {
            .tab-content {
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: variables.$mobileBreakPointUpper) {
    .tabs-element {
        nav.tab-headings {
            flex-direction: row;

            a {
                box-shadow: palette.$baseBoxShadow;
                margin-right: math.div(variables.$base-spacing, 4);
                background-color: color.mix(palette.$offWhite, palette.$vellum);
                position: relative;
                &:after {
                    content: " ";
                    display: block;
                    width: 100%;
                    height: 1rem;
                    background-color: color.mix(palette.$offWhite, palette.$vellum);
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    z-index: 9997;
                }

                &.active {
                    &:after {
                        background-color: palette.$offWhite;
                        z-index: 9999;
                    }

                }
            }
        }
        div.tab-content-container {
            .tab-content {
                z-index: 9998;
                box-shadow: palette.$baseBoxShadow;
            }

        }

    }
}
