@use "sass:color";
@use "../base/variables";
@use "../base/palette";
@use "../base/typography";

$dropcap-scale: 10em;

.dc {
    display: block;
    float: left;
    height: $dropcap-scale;
    width: $dropcap-scale;
    font-family: typography.$displayStack;

    line-height: $dropcap-scale;
    text-align: center;
    margin-right: variables.$base-spacing;
    margin-bottom: variables.$base-spacing;
    margin-top: 0.5rem;

    box-shadow: variables.$baseBoxShadow;

    background: palette.$goldFX;
    background-size: 10%;
    background-attachment: fixed;
    color: transparent;

    position: relative;

    &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @each $letter in variables.$alphabet {
        &.dc-#{$letter} {
            &:after {
                background-image: url("../images/drop-caps/william-morris-letter-#{$letter}.svg");
            }

        }
    }
}
