@use '../base/palette';

.puzzle-container {
    padding: 3rem;
    background-color: palette.$white;
    border: 1.5rem solid transparent;
    border-image: url('../images/eroded-frame.svg');
    border-image-slice: calc(100% / 3);
}
