{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ pageTitle }}</h1>
        </div>
    </div>
    <div class="puzzle-container">
        <hammer-puzzle>
            <hammer-node
                id="one"
                data-broken="true"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="two"
                data-activatesrotated=""
            >
                1
            </hammer-node>
            <hammer-node
                id="two"
                data-broken="false"
                data-active="true"
                data-rotated="false"
                data-activatesdefault="three"
                data-activatesrotated="four"
                id="two"
            >
                2
            </hammer-node>
            <hammer-node
                id="three"
                data-broken="false"
                data-active="true"
                data-rotated="false"
                data-activatesdefault="four"
            >
                3
            </hammer-node>
            <hammer-node
                id="four"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="five"
                data-activatesrotated="six"

            >
                4
            </hammer-node>
            <hammer-node
                id="five"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="six"
                id="five"
            >
                5
            </hammer-node>
            <hammer-node
                id="six"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="seven"
                data-activatesrotated="eight"
            >
                6
            </hammer-node>
            <hammer-node
                id="seven"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="eight"
                id="seven"
            >
                7
            </hammer-node>
            <hammer-node
                id="eight"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="one"
                data-activatesdefault="two"
            >
                8
            </hammer-node>

            <div class="hammer-power-wrapper">
                <hammer-power min="0" value="1" max="8"></hammer-power>
            </div>

            <div class="success-message">
                <h2>Hammer charge re-routed succesfully. Firing sequence Initiated.</h2>
                <h3>Select Target</h3>
                <div class="btn-group">
                    <hammer-firing-button id="bastion" class="btn btn-red">Bastion Point</hammer-firing-button>
                    <hammer-firing-button id="blessing" class="btn btn-red">Dumathoin's Blessing</hammer-firing-button>
                    <hammer-firing-button id="gladestone" class="btn btn-red">Gladestone</hammer-firing-button>
                    <hammer-firing-button id="steading" class="btn btn-red">Moradin's Steading</hammer-firing-button>
                    <hammer-firing-button id="anvil" class="btn btn-red">Dugmarin's Anvil</hammer-firing-button>
                </div>

            </div>
            <div class="hammer-ops">
                <hammer-output></hammer-output>
                <hammer-reset-button>Reset</hammer-reset-button>
                <hammer-translate-button>Translate</hammer-translate-button>
            </div>

        </hammer-puzzle>
    </div>
{% endblock %}
