{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 is="drop-cap">{{ pageTitle }}</h1>
        </div>
    </div>
    <div class="puzzle-container">
        <div is="hammer-puzzle" class="hammer-puzzle">
            <button
                is="hammer-node"
                class="hammer-node"
                id="one"
                data-broken="true"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="two"
                data-activatesrotated=""
            >
                1
            </button>
            <button
                is="hammer-node"
                class="hammer-node"
                id="two"
                data-broken="false"
                data-active="true"
                data-rotated="false"
                data-activatesdefault="three"
                data-activatesrotated="four"
                id="two"
            >
                2
            </button>
            <button
                is="hammer-node"
                class="hammer-node"
                id="three"
                data-broken="false"
                data-active="true"
                data-rotated="false"
                data-activatesdefault="four"
            >
                3
            </button>
            <button
                is="hammer-node"
                class="hammer-node"
                id="four"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="five"
                data-activatesrotated="six"

            >
                4
            </button>
            <button
                is="hammer-node"
                class="hammer-node"
                id="five"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="six"
                id="five"
            >
                5
            </button>
            <button
                is="hammer-node"
                class="hammer-node"
                id="six"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="seven"
                data-activatesrotated="eight"
            >
                6
            </button>
            <button
                is="hammer-node"
                class="hammer-node"
                id="seven"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="eight"
            >
                7
            </button>
            <button
                is="hammer-node"
                class="hammer-node"
                id="eight"
                data-broken="false"
                data-active="false"
                data-rotated="false"
                data-activatesdefault="one"
                data-activatesdefault="two"
            >
                8
            </button>

            <div class="hammer-power-wrapper">
                <meter class="hammer-power" is="hammer-power" min="0" value="1" max="8"></meter>
            </div>

            <div class="success-message">
                <h2>Hammer charge re-routed succesfully. Firing sequence Initiated.</h2>
                <h3>Select Target</h3>
                <div class="btn-group">
                    <button is="hammer-firing-button" id="bastion" class="btn btn-red">Bastion Point</button>
                    <button is="hammer-firing-button" id="blessing" class="btn btn-red">Dumathoin's Blessing</button>
                    <button is="hammer-firing-button" id="gladestone" class="btn btn-red">Gladestone</button>
                    <button is="hammer-firing-button" id="steading" class="btn btn-red">Moradin's Steading</button>
                    <button is="hammer-firing-button" id="anvil" class="btn btn-red">Dugmarin's Anvil</button>
                </div>

            </div>
            <div class="hammer-ops">
                <ul is="hammer-output" class="hammer-output"></ul>
                <button class="hammer-reset-button" is="hammer-reset-button">Reset</button>
                <button class="hammer-translate-button" is="hammer-translate-button">Translate</button>
            </div>

        </div>
    </div>
{% endblock %}
{% block footerStyles %}
    <link rel="stylesheet" href="/css/puzzles/hammer.css">
{% endblock %}
