{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ pageTitle }}</h1>
            {% for puzzle in puzzles %}
                 <a class="btn" href="{{ path(puzzle.route) }}">{{ puzzle.label }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
