{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ pageTitle }}</h1>
            <div class="row halves">
                <div class="switch-container">
                    <label>1</label>
                    <input type="checkbox" class="switch">
                    <span class="toggle"></span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
