@use 'sass:math';
@use 'sass:color';
@use '../../base/palette';
@use '../../base/variables';
@use '../../base/typography';

.game-card {
    display: flex;
    flex-direction: column;

    padding: 0 !important;

    border-radius: variables.$baseBorderRadius;
    box-shadow: palette.$baseBoxShadow;
    position: relative;
    overflow: hidden;

    .game-hero
    {
        display: block;
        position: relative;
        height: 20vh;

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom center;

        }

        .game-title,
        .game-title:before {
            position: absolute;
            top: 0;
            left: 0;
            font-family: typography.$displayStack;
            font-size: 4rem;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 20vh;
            text-align: center;
        }

        .game-title {
            z-index: 1;
            color: palette.$ink;
        }
        .game-title:before {
            margin-left: 0.125rem;
            margin-top: 0.125rem;
            color: transparent;
            background: palette.$goldFX;
            background-clip: text;
            z-index: 2;

        }
    }



    .game-detail {
        border-top: 0.2rem solid transparent;
        border-image: palette.$goldFX 33%;
        background: palette.$whiteGradient;
        padding: math.div(variables.$base-spacing, 4) !important;


        ul.game-players {

            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            li {
                text-indent: 0;
            }
        }
    }
}
