@use 'sass:color';
@use 'sass:math';

@use '../../base/palette';
@use '../../base/variables';
@use '../../base/typography';


.user-card {

    border: variables.$baseBorderWidth solid transparent;
    border-image: palette.$goldFX 33%;
    box-shadow: palette.$baseBoxShadow;
    border-radius: variables.$baseBorderRadius;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: math.div(variables.$base-spacing, 2);

    .user-info {
        display: flex;
        flex-direction: row;
        .card-avatar-wrapper {
            flex: 1;
            flex-basis: 25%;
            position: relative;
            overflow: hidden;

            img.card-avatar {
                object-fit: cover;
                max-height: initial;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .user-details {
            background: palette.$whiteGradient;
            flex-grow: 2;
            flex-basis: 75%;
            padding: math.div(variables.$base-spacing, 4) math.div(variables.$base-spacing, 2);
            border-left: variables.$baseBorderWidth solid transparent;
            border-image: palette.$goldFX 33%;

            .username {
                font-family: typography.$displayStack;
                font-size: 1.5rem;
            }

            .joined {
                display: block;
            }
        }
    }


    .user-feats {
        background: palette.$charcoalGradient;
        color: palette.$offWhite;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: math.div(variables.$base-spacing, 16);
        grid-row-gap: math.div(variables.$base-spacing, 8);
        padding-top: math.div(variables.$base-spacing, 8);
        padding-bottom: math.div(variables.$base-spacing, 8);
        border-top: variables.$baseBorderWidth solid transparent;
        border-image: palette.$goldFX 33%;
    }


}
