@use 'sass:color';
@use 'sass:math';

@use '../../base/palette';
@use '../../base/variables';
@use '../../base/typography';


.user-card {

    border: 0.1rem solid transparent;
    border-image: palette.$goldFX 33%;
    box-shadow: palette.$baseBoxShadow;
    border-radius: variables.$baseBorderRadius;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: math.div(variables.$base-spacing, 2);

    .card-avatar-wrapper {
        flex: 1;
        flex-basis: 25%;
        position: relative;
        overflow: hidden;

        img.card-avatar {
            object-fit: cover;
            max-height: initial;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }


    .user-details {
        background: palette.$whiteGradient;
        flex-grow: 2;
        flex-basis: 75%;
        padding: math.div(variables.$base-spacing, 4) math.div(variables.$base-spacing, 2);
        border-left: 0.125rem solid transparent;
        border-image: palette.$goldFX 33%;

        .username {
            font-family: typography.$displayStack;
            font-size: 1.5rem;
        }

        .joined {
            display: block;
        }
    }


}
