{% extends 'base/base-error.html.twig' %}
{% set pageTitle = 'Coming soon!' %}
{% set siteName = 'The Conundrum Codex' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="drop-cap">Coming Soon</h1>
            <p>You hear pages turning, and the scratch of quill on vellum.</p>
            <p>The Conundrum Codex is not yet ready; dark secrets are still being inscribed upon its mystic pages.</p>
            <p>Check back soon, adventurer, for mystifications, perplexities and enigmas to make even the hardiest knowledge seeker sweat.</p>
        </div>
    </div>
{% endblock %}

