<button id="main-nav-toggle" is="nav-toggle" class="nav-toggle main-nav-toggle unstyle" data-target="main-nav" data-open="false">Show Main Nav</button>
<nav class="mobile-nav" id="main-nav">
    <form class="search-form unstyle">
        <input name="search" placeholder="Search" id="search">
        <button class="unstyle" type="submit">Search</button>
    </form>
    <ul class="main-menu" aria-label="Main navigation">
        {% for navItem in nav %}
            <li><a content="{{ navItem.label }}" class="nav-item {% if navItem.active %} active{% endif %}" href="{{ path(navItem.route) }}">{{ navItem.label }}</a></li>
        {% endfor %}
    </ul>
</nav>
