@use "../critical/base/reset";
@use "../critical/base/typography";
@use "../critical/base/palette";
@use "../critical/base/colors";
@use "../critical/base/variables";
@use "../critical/base/inlinedFiles";
@use "../critical/layout/flex";

@use "../critical/elements/links.scss";
@use "../critical/elements/rules";
@use "../critical/elements/buttons";


@use "../critical/elements/tables";
@use "../critical/elements/forms.scss";
@use "../critical/elements/navs.scss";
@use "../critical/elements/images.scss";

@use "../critical/widgets/tooltips";
@use "../critical/widgets/alerts";
@use "../critical/widgets/avatars";
@use "../critical/widgets/cards";

@use "layout/nav";
@use "layout/panels";
