<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ pageTitle }} | {{ siteName }}</title>

    {% embed 'base/partials/_preloads.html.twig' %}{% endembed %}
    <script src="https://unpkg.com/@ungap/custom-elements"></script>

    <link rel="stylesheet" href="/dist/css/admin.css" />
    <script src="/dist/js/app.js"></script>

</head>

    <body>

        {% embed 'base/partials/_alerts.html.twig' %}{% endembed %}
        <nav class="admin-navbar">
            <a href="{{ path('admin.dashboard') }}">Dash</a>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>

    </body>
</html>
