{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row halves">
        <div class="col">
            <h1>Yo, I'm the index</h1>
            <button class="btn">Button</button>
        </div>
        <div class="col">
            <h2>Column 2</h2>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <p is="drop-cap">I'm also a column. I'm a descendent of Paragraph, so I work like a paragraph.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ad conspectitur, quod quidem, quod quaeritur.
                Dropping cap.
                Ad conspectitur, quod quidem, quod quaeritur.
            </p>
            <hr>
            <progress-bar data-progress="25"></progress-bar>



            <div class="btn-group">
                <button class="btn">Button</button>
                <button class="btn btn-secondary">Button</button>
            </div>
        </div>

    </div>


{% endblock %}
