{% extends '/admin/base/admin-base.html.twig' %}
{% block body %}
    <div class="row three-quarters-one-quarter">
        <div class="col panel">
            <h2>Unactioned Abuse Reports</h2>
            {% embed '/admin/dashboard/partials/_abuse-reports-table.html.twig' with {'abuseReports': abuseReports} %}{% endembed %}
            <hr/>
            <h2>Unactioned Bug Reports</h2>
            {% embed '/admin/dashboard/partials/_bug-reports-table.html.twig' with {'bugReports': bugReports} %}{% endembed %}
        </div>
        <div class="col panel">

        </div>
    </div>

{% endblock %}
