{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <p>{{ siteName }} is a hobbyist project. It's not designed to be slick or professional!</p>
            <p>We welcome contributions from anyone, provided they satisfy these criteria:</p>
            <ul>
                <li>Written in TypeScript <em>without @tsIgnore</em>. <span class="tooltip" is="tooltip-element" title="TypeScript is far safer and more reliable than straight JavaScript.">Why?</span></li></li>
                <li>Written as a Web Component (No React, Vue, JSX or other JS Frameworks).<span class="tooltip" is="tooltip-element" title="Web Components are part of the HTML standard, and don't require any bootstrap code to work (Apart from light polyfills for Safari). If we allowed Frameworks, maintaining the various versions needed by different puzzles would swiftly become unmaintainable.">Why?</span></li>
                <li>Works on Chrome, Safari AND FireFox. <span class="tooltip" is="tooltip-element" title="Interoperability provides future-proofing.">Why?</span></li>
                <li>Has no external dependencies.  <span class="tooltip" is="tooltip-element" title="External dependencies can disappear at any time, rendering a puzzle inoperable.">Why?</span></li>
                <li>Follows our Style Guide.</li>
                <li>Is styled using the Shadow DOM <span class="tooltip" is="tooltip-element" title="Shadow Dom styles are encapsulated, minimising the risk of your styles bleeding out into the wider site.">Why?</span></li>
                <li>Does not contain any offensive content.  <span class="tooltip" is="tooltip-element" title="Because this site is for everyone!">Why?</span></li>
                <li>Is licensed under the GPL v3. <span class="tooltip" is="tooltip-element" title="We need the assurance that a puzzle can be maintained even if its current maintainer no longer wishes to do the job. That means the right to copy, modify and redistribute.">Why?</span></li>
                <li>Communicates only with itself or our API. <span class="tooltip" is="tooltip-element" title="To keep puzzles independent of each other, we need to limit their communication capabilities. Any cross-site communication will be limited by single-origin anyway..">Why?</span></li>
            </ul>
        </div>
    </div>
{% endblock %}
