{% extends 'base/base.html.twig' %}
{% block body %}

    <template id="casebook-subject-template" class="loading casebook-subject-template">
        <style>{{ inline_css('/dist/css/casebook/casebook.css') }}</style>
        <article class="casebook-subject">
            <img slot="image" class="casebook-subject-backer" src="" alt="slot">
            <h2 class="card-title" slot="subject-name"></h2>
            <div class="card-body">
                <slot name="subject-description">DESCRIPTION</slot>
            </div>
            <div class="card-section">
                <h4>Clues</h4>
                <slot name="subject-clues"></slot>
            </div>
        </article>
    </template>
    <div class="tabs-element" is="tabs-element">
        <nav class="tab-headings">
            <a href="#people" class="active">People</a>
            <a href="#objects">Objects</a>
            <a href="#locations">Locations</a>
            <a href="#misc">Misc</a>
        </nav>
        <div class="tab-content-container">
            <div id="people" class="active tab-content">
                {% if casebook.getSubjectsByTypeHandle('person') is  empty %}
                    No persons of interest have been revealed!
                {% else %}
                    <div class="grid">
                        {% for person in casebook.getSubjectsByTypeHandle('person') %}
                            {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subject.view.html.twig' with {'subject': person} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
            <div id="objects" class="tab-content">
                {% if casebook.getSubjectsByTypeHandle('object') is  empty %}
                    No objects of interest have been revealed!
                {% else %}
                    <div class="grid">
                        {% for object in casebook.getSubjectsByTypeHandle('object') %}
                            {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subject.view.html.twig' with {'subject': object} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div id="locations" class="tab-content">
                {% if casebook.getSubjectsByTypeHandle('location') is  empty %}
                    No locations of interest have been revealed!
                {% else %}
                    <div class="grid">
                        {% for location in casebook.getSubjectsByTypeHandle('location') %}
                            {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subject.view.html.twig' with {'subject': location} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}

            </div>

            <div id="misc" class="tab-content">
                {% if casebook.getSubjectsByTypeHandle('misc') is  empty %}
                    No miscellaneous items have been revealed!
                {% else %}
                    <div class="list">
                        {% for miscSubject in casebook.casebook.getSubjectsByTypeHandle('misc') %}
                            {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subject.view.html.twig' with {'subject': miscSubject} %}{% endembed %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footerScripts %}
    <script src="/dist/js/casebookBoot.js"></script>
{% endblock %}
