{% extends 'base/base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col">
            <article class="card">
                <div class="card-body">
                    {{ casebook.getDescription }}
                </div>

            </article>

        </div>
    </div>
    {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_template.html.twig' %}{% endembed %}

    <div class="tabs-element" is="tabs-element">
        <nav class="tab-headings">
            <a href="#person" class="active">People</a>
            <a href="#object">Objects</a>
            <a href="#location">Locations</a>
            <a href="#misc">Misc</a>
        </nav>
        <div class="tab-content-container">
            <div id="person" class="active tab-content">
                {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subjectLetters.html.twig' with {'subjectType': 'person'} %}{% endembed %}
            </div>
            <div id="object" class="tab-content">
                {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subjectLetters.html.twig' with {'subjectType': 'object'} %}{% endembed %}
            </div>
            <div id="location" class="tab-content">
                {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subjectLetters.html.twig' with {'subjectType': 'location'} %}{% endembed %}
            </div>

            <div id="misc" class="tab-content">
                {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subjectLetters.html.twig' with {'subjectType': 'misc'} %}{% endembed %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footerScripts %}
    <script src="/dist/js/casebookBoot.js"></script>
{% endblock %}
