{% if breadcrumbs is not empty %}
    <nav class="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.link is defined %}
                <a href="{{ breadcrumb.link }}">{{ breadcrumb.label }}</a>
            {% else %}
                <span>{{ breadcrumb.label }}</span>
            {% endif %}
        {% endfor %}
    </nav>
{% endif %}
