<nav class="breadcrumbs">
    {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.route is defined %}
            <a href="{{ path(breadcrumb.route) }}">{{ breadcrumb.label }}</a>
        {% else %}
            <span>{{ breadcrumb.label }}</span>
        {% endif %}
    {% endfor %}
</nav>
