{% if showCookiesMessage %}
    <aside class="cookie-notice">
        This site respects your privacy. The only cookie we use is a basic session cookie. No tracking, no targeted ads. By using this site, you consent to our use of this single basic cookie.
        <form action="{{ path('app.cookies.accept') }}" method="POST">
            <button type="submit" class="btn btn-default">I accept.</button>
        </form>

        <a href="https://www.duckduckgo.com" class="btn btn-danger">No, get me out of here.</a>
    </aside>
{% endif %}
