<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ pageTitle }} | {{ siteName }}</title>

    {% embed 'base/partials/_preloads.html.twig' %}{% endembed %}
    <script src="//unpkg.com/@ungap/custom-elements"></script>
    <link rel="icon" href="/dist/images/penrose.svg">
    <link rel="stylesheet" href="/dist/css/critical.css">
    <script src="/dist/js/app.js"></script>

</head>
