<div class="logo-wrapper">
    <a class="header-logo" href="/">
        <span class="logo-text" content="{{ siteName }}">{{ siteName }}</span>
    </a>
</div>

<header is="header-element">
    <a href="/" class="brand" content="{{ siteName }}">{{ siteName }}</a>
    {% embed 'base/partials/menus/_main.html.twig' %}{% endembed %}
    {% embed 'base/partials/menus/_user.html.twig' %}{% endembed %}
</header>

