<div id="overlay-container">
    <div class="overlay">
        <div class="overlay-header">
            <h2 class="overlay-title">OVERLAY TITLE</h2>
            <button class="overlay-close" aria-label="Close">Close</button>
        </div>

        <p class="overlay-content"></p>
    </div>
</div>
