<div id="overlay-container">
    <template id="overlay-template">
        <div class="overlay">
            <div class="overlay-header">
                <h2 class="overlay-title"><slot name="overlay-title-slot"></slot></h2>
                <button class="overlay-close" aria-label="Close">Close</button>
            </div>

            <p class="overlay-content">
                <slot name="overlay-content-slot"></slot>
            </p>
        </div>
    </template>

</div>
