<footer>
    <aside>
        Report an Issue
    </aside>
    <aside>
        <a href="{{ path('app.pages.coc') }}">Code of Conduct</a>
    </aside>
    <aside>
        <a href="{{ path('app.pages.contributing') }}">Contributing</a>
    </aside>
</footer>
