
<header>
    <div class="top">

        <a class="brand" href="/" content="Enigmara">The Tome of Many Problems</a>
        <span class="tagline">Interactive puzzles for online RPGs</span>



        <button is="nav-toggle" class="nav-toggle user-nav-toggle" data-target="user-nav" data-open="false">
        </button>

        <div class="right">
            <form class="search-form">
                <input name="search" placeholder="Search" id="search">
                <button class="" type="submit">Search</button>
            </form>
            <nav class="mobile-nav" id="user-nav">
                {% if app.user %}
                    <span class="user-greeting">Logged in as <a href="#">Dave</a></span>
                    <span class="user-options">
                        <a class="" href="#">Logout</a>
                        <a class="" href="#">Account</a>
                    </span>
                {% else %}
                    <span class="user-greeting">Not logged in</span>
                    <span class="user-options">
                        <a class="" href="{{ path('app.user.login') }}">Login</a>
                        <a class="" href="{{ path('app.user.register') }}">Register</a>
                    </span>
                {% endif %}

            </nav>
        </div>



    </div>

    <div class="bottom">
        <button  is="nav-toggle" class="nav-toggle main-nav-toggle" data-target="main-nav" data-open="false"></button>
        <nav class="mobile-nav" id="main-nav">
            {% for navItem in nav %}
                <a class="nav-item {% if navItem.active %} active{% endif %}" href="{{ path(navItem.route) }}">{{ navItem.label }}</a>
            {% endfor %}
        </nav>
    </div>

</header>
