<article class="casebook-subject" is="casebook-subject" data-type="{{ subject.getCasebookSubjectType.getHandle }}" data-subjectid="{{ subject.getId }}" data-instancecode="{{ casebook.getInstanceCode }}">
</article>
{% if is_game_manager(app.user, game) %}
    <a href="{{ path(
        'app.puzzles.static.casebook.subjects.edit',
        {
            'gameSlug' : game.getSlug,
            'templateSlug': template.getSlug,
            'instanceCode': casebook.getInstanceCode,
            'subjectId': subject.getId
        }
    ) }}" class="btn btn-primary">Edit Subject</a>

{% endif %}
