<template id="casebook-subject-template" class="loading casebook-subject-template">
    <link rel="stylesheet" href="/dist/css/casebook/casebook.css">

    <div class="subject-wrapper">
        <img slot="image" class="casebook-subject-backer" src="" alt="slot">
        <h2 class="card-title" slot="subject-name"></h2>
        <hr class="spacer">
        <div class="card-body">
            <slot name="subject-description"></slot>
        </div>

        <div class="card-section">
            <h4>Clues</h4>
            <div class="clues-list"></div>
        </div>
    </div>
</template>

<template id="casebook-subject-clue-template" class="loading casebook-subject-clue-template">
    <link rel="stylesheet" href="/dist/css/casebook/casebook-clue.css">
    <div class="clue-wrapper">
        <h3 slot="clue-title"></h3>
        <p class="clue-body" slot="clue-body"></p>
        <span class="clue-type" slot="clue-type"></span>
        <span class="revealed-at" slot="revealed-at"></span>
    </div>
</template>
