<template id="casebook-subject-template" class="loading casebook-subject-template">
    <link rel="stylesheet" href="/dist/css/casebook/casebook.css">

    <div class="subject-wrapper">
        <div class="basic-info">
            <h4 class="subject-title"><slot name="subject-name"></slot></h4>
            <div class="image-wrapper">
                <span class="placeholder">?</span>
                <img slot="image" class="casebook-subject-backer portrait" src="" alt="slot">
            </div>

            <h4>Description</h4>
            <slot name="subject-description"></slot>
        </div>

        <div class="card-section clues">
            <h4>Clues</h4>
            <div class="clues-list">
                <em class="empty_clues">No Clues Revealed</em>
            </div>
        </div>
    </div>
</template>

<template id="casebook-subject-clue-template" class="loading casebook-subject-clue-template">
    <link rel="stylesheet" href="/dist/css/casebook/casebook-clue.css">
    <div class="clue-wrapper">
        <h5 slot="clue-title" class="clue-title"></h5>
        <p class="clue-body" slot="clue-body"></p>
        <span class="clue-type" slot="clue-type"></span>
        <span class="revealed-at" slot="revealed-at"></span>
    </div>
</template>
