@use "sass:color";
@use "palette";
@use "variables";

body, html {

}

body {
    position: relative;
    color: palette.$ink;
    p,ul,li {
        text-shadow: palette.$bleedingInk;
    }


    main.normal {
        //border: 1rem solid transparent;
        //border-image: url('/dist/images/paper-sheet-brown-shadow.svg');
        //border-image-slice: 7.5%;
        position: relative;

        h1:first-child {
            margin-top: 0;
        }

        /*&:before {
            content: " ";
            display: block;
            position: absolute;
            background-color: palette.$offWhite;
            top: 0rem;
            left: 0rem;
            right: 0rem;
            bottom: 0rem;
            z-index: -1;
        }*/
    }
}
@media only screen and (min-width: 1080px) {
    body {
        main {
            border-width: variables.$base-spacing;
        }
    }
}
