@use "sass:color";
@use "palette";

body, html {
    background: linear-gradient(to bottom, color.adjust(palette.$vellum, $lightness: -2%, $space: hsl), color.adjust(palette.$vellum, $lightness: -10%, $space: hsl));
}

body {
    position: relative;
    color: palette.$ink;
    p,ul,li {
        text-shadow: palette.$bleedingInk;
    }
    &:before, &:after {
        content: " ";
        display: block;
        position: absolute;
        z-index: -2;

        background: palette.$goldFX;
        background-attachment: fixed;
        background-size: 20%;
        height: 100%;
        opacity: 0.5;
    }

    &:after {
        width: 12.5rem;
        bottom: 5vw;
        right: 1vw;
        mask-image: url('../../images/decorative_corner.svg');
        mask-repeat: no-repeat;
        mask-position: right bottom;
    }

    &:before {

        left: 5vw;
        top: 0;
        width: 3rem;
        mask-image: url('../../images/pattern.svg');
        mask-repeat: repeat-y;
        mask-size: contain;


    }
    main {
        border: 3rem solid transparent;
        border-image: url('../../images/paper-sheet.svg');
        border-image-slice: 10%;
        position: relative;

        h1:first-child {
            margin-top: 0;
        }

        &:before {
            content: " ";
            display: block;
            position: absolute;
            background-color: palette.$offWhite;
            top: 0rem;
            left: 0rem;
            right: 0rem;
            bottom: 0rem;
            z-index: -1;
        }
    }
}
