@use 'sass:color';

@use 'palette';


body {
    background: palette.$vellum radial-gradient(circle at 50% 50%, palette.$vellum 66%, color.adjust(palette.$vellum, $saturation: +50%, $lightness: -20%) 100%);
    position: relative;
    &:after {
        content: " ";
        z-index: -999;
        background-color: cyan;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('/dist/images/papertex.webp');
        background-size: 128px 128px;
        mix-blend-mode: soft-light;
    }
}
