@font-face {
    font-family: 'Pirata';
    src: url('/dist/fonts/pirata/PirataOne-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('/dist/fonts/crimsontext/CrimsonText-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('/dist/fonts/crimsontext/CrimsonText-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('/dist/fonts/crimsontext/CrimsonText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DethekStone';
    src: url('/dist/fonts/dethekstone/DethekStone.woff2') format('woff2');
}

@font-face {
    font-family: 'RPGAwesome';
    src: url('/dist/fonts/rpgawesome/rpgawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merienda';
    src: url('/dist/fonts/merienda/Merienda-VariableFont_wght.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

