@font-face {
    font-family: 'Pirata';
    src: url('/dist/fonts/pirata/PirataOne-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'DethekStone';
    src: url('/dist/fonts/dethekstone/DethekStone.woff2') format('woff2');
}

@font-face {
    font-family: 'RPGAwesome';
    src: url('/dist/fonts/rpgawesome/rpgawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
