@use 'sass:color';
@use 'sass:math';

/**
* Core Palette.
 */
$charcoal: #080808;
$vellum: #f3e0bb;
$white: #f8f6f6;
$offWhite: #f8f5ed;
$crimson: #790000;
$green: #049c18;
$grey: #454141;
$blue: #2853ff;
$yellow: #ffee00;
$gold: #ffd000;
$teal: #0ed1d1;
$wyrdPurple: #831e57;
$ink: #3b2e1f;
$inkBlue: #051230;
$black: #282828;
$stormBlue: #093043;
$antiqueGold: #ffb328;
$pink: #ffd1d1;
$orange: #ffa600;
$red: #ff2f00;
$keyColor: $crimson;

/**
* Effects
 */
$goldFX: repeating-linear-gradient(33deg, #d4aa00, #ffd42a, #ffffff, #ffd42a, #ffcc00);
$copperFx: repeating-linear-gradient(33deg, #d47800, #ffa32a, #ffe9c9, #ff952a, #ffcc00);
$silverFX: repeating-linear-gradient(33deg, #616161, #C8C8C8FF, #fff, #c8c8c8, #616161);

/**
* Shadows
*/
$baseBoxShadow: 0 0.25rem 0.25rem color.adjust($ink, $alpha: -0.875), 0 0.125rem 0.125rem color.adjust($ink, $alpha: -0.75), 0 0.0675rem 0.0675rem color.adjust($ink, $alpha: -0.5);
$baseInsetShadow: inset 0 0 0.25rem color.adjust($ink, $alpha: -0.5), inset 0 0 0.125rem color.adjust($ink, $alpha: -0.75);
$bleedingInkShadow: 0 0 0.05em color.scale($ink, $alpha: -40%), 0 0 0.0001em color.scale($ink, $alpha: -25%), 0 0 0.025em color.scale($ink, $alpha: -80%), 0 0 0.0001em color.scale($ink, $alpha: -50%);

/**
* Gradients
*/
$glossGradient: linear-gradient(to top, black 0%, black 50%, white 51%, black 100%);
$reflectiveGradient: linear-gradient(315deg, black 0%, black 25%, white 26%, black 50%, black 75%, white 75%, black 100%);
$dividerGradient: $ink radial-gradient(circle at 50% 50%, transparent, $ink);
$charcoalGradient: $charcoal linear-gradient(33deg, color.adjust($charcoal, $lightness: +25%), $charcoal);
$brownGradient: $ink linear-gradient(45deg, $ink, color.adjust($ink, $lightness: -25%));
$crimsonGradient: $crimson linear-gradient(33deg, $crimson, color.adjust($crimson, $lightness: -5%));
$whiteGradient: $offWhite linear-gradient(to bottom, $offWhite, color.adjust($offWhite, $lightness: -10%));
