/**
* Palette
*/
$stormBlue: #11283a;
$vellum: #f8ecd4;
$skyBlue: #d4d4ea;
$lavender: #c9beed;
$offWhite: #e6f4ff;
$white: #ffffff;
$green: #0f6c0f;
$charcoal: #060b13;
$red: #790000;
$bark: #3A2311;
$teal: #113A37;
$navy: #11143A;

$goldFx: repeating-linear-gradient(33deg, #d4aa00, #ffd42a, #ffffff, #ffd42a, #ffcc00);
