@use "../mixins/goldtext";
@use "../base/palette";
@use "../base/variables";
@use "sass:color";

@font-face {
    font-family: 'Gladius';
    src: url('../../../fonts/gladius/Gladius.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../../fonts/crimsontext/CrimsonText-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../../fonts/crimsontext/CrimsonText-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../../fonts/crimsontext/CrimsonText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DethekStone';
    src: url('../../../fonts/dethekstone/DethekStone.woff2') format('woff2');
}

@font-face {
    font-family: 'Devinne Swash';
    src: url('../../../fonts/devinneswash/DevinneSwash-solid.woff2') format('woff2');
}

@font-face {
    font-family: 'RPGAwesome';
    src: url('../../../fonts/rpgawesome/rpgawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$textStack: 'Crimson Text', serif;
$displayStack: 'Devinne Swash', serif;

body, html {
	font-size: 11pt;
	font-family: $textStack;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

h1 {
    position: relative;
    margin: 1.5vw 0;
    display: block;
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: (variables.$base-spacing * 3);
    transform: rotate(0.0665deg);

}
h1 {
	font-family: $displayStack;
}

h2 {
    font-size: 3rem;
}

p, ul {
    font-size: 1.5rem;
}
