@use "../mixins/goldtext";
@use "../base/palette";
@use "../base/variables";
@use "sass:color";

@font-face {
    font-family: 'Pirata';
    src: url('../../../fonts/pirata/PirataOne-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../../fonts/crimsontext/CrimsonText-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../../fonts/crimsontext/CrimsonText-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('../../../fonts/crimsontext/CrimsonText-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DethekStone';
    src: url('../../../fonts/dethekstone/DethekStone.woff2') format('woff2');
}

@font-face {
    font-family: 'RPGAwesome';
    src: url('../../../fonts/rpgawesome/rpgawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$textStack: 'Crimson Text', serif;
$displayStack: 'Pirata', serif;

body, html {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $textStack;
    font-size: 14.75pt;
    color: palette.$ink;
    line-height: 1.46;
}

h1,h2,h3 {
	font-family: $displayStack;
}


h1 {
    position: relative;
    display: block;
    font-size: 2em;		/* 2*16 = 32 */
    line-height: 2em;

}

h2 {
    font-size: 1.5em;		/* 1.5*16 = 24 */
}

h3 {
    font-size: 1.17em;	/* 1.17*16 = 18.72 */
}

h4 {
    font-size: 1em;		/* 1*16 = 16 */
}

h5 {
    font-size: 0.83em;	/* 0.83*16 = 13.28 */
}

h6 {
    font-size: 0.75em;	/* 0.75*16 = 12 */
}

@media only screen and (min-width: 1080px) {
    h1 {
        position: relative;
        display: block;
        font-size: 4em;		/* 2*16 = 32 */
        line-height: 2.25em;
        &:before {
            content: attr(content);
            color: transparent;
            background: palette.$goldFX;
            background-clip: text;
            position: absolute;
            z-index: -1;
            margin-left: -0.2rem;
            margin-top: 0.2rem;
        }
    }

}
