@use "sass:color";
@use "palette";

$gemBorderWidth: 0.5rem;
$base-spacing: 0.75rem;
$baseBoxShadow:  0 0 calc($base-spacing/3) color.adjust(palette.$charcoal, $alpha: -0.75), 0 0 calc($base-spacing/4) color.adjust(palette.$charcoal, $alpha: -0.5);
//Misc
$alphabet: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z;
