{% extends 'base/base-error.html.twig' %}
{% set pageTitle = '404 - Not Found.' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="drop-cap">Error 404 - Not Found</h1>
            <p>Your search reveals nothing but dust.</p>
            <a href="{{ path('app.page.home') }}">Back to Homepage</a>
        </div>
    </div>
{% endblock %}
