{% extends 'base/base-error.html.twig' %}
{% set pageTitle = '401 - Unauthorise' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="drop-cap">Error 401 - Forbidden</h1>
            <p>You shall not pass!</p>
            <a href="{{ path('app.pages.home') }}">Back to Homepage</a>
        </div>
    </div>
{% endblock %}
